In [1]:
# Import modules
import pandas as pd
import numpy as np
import re
from functools import reduce

# Set pandas number format
pd.options.display.float_format = "{:,.2f}".format

# Load and clean data

In [2]:
dir_path = "../../data/exiobase/_ixi/IOT_2014_ixi/"
rexia_dir_path = "../../data/exiobase/REX/rexia-data/converted/"

In [3]:
# Import A, Y and x from Exiobase 3.8
# ! 'A' is a large datasets, mind load time
A = pd.read_csv(f"{dir_path}A.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])
# Z = pd.read_csv(f"{dir_path}Z.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])
Y = pd.read_csv(f"{dir_path}Y.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])
x = pd.read_csv(f"{dir_path}x.txt", delimiter="\t", header=0, index_col=[0, 1])["indout"]
# Import F, F_y (extensions) from both satellite and impacts
F_satellite = pd.read_csv(
    f"{dir_path}satellite/F.txt", delimiter="\t", header=[0, 1], index_col=[0]
)
F_y_satellite = pd.read_csv(
    f"{dir_path}satellite/F_Y.txt", delimiter="\t", header=[0, 1], index_col=[0]
)
F_unit_satellite = pd.read_csv(
    f"{dir_path}satellite/unit.txt", delimiter="\t", header=0, index_col=[0]
)
F_impact = pd.read_csv(f"{dir_path}impacts/F.txt", delimiter="\t", header=[0, 1], index_col=[0])
F_y_impact = pd.read_csv(f"{dir_path}impacts/F_Y.txt", delimiter="\t", header=[0, 1], index_col=[0])
F_unit_impact = pd.read_csv(f"{dir_path}impacts/unit.txt", delimiter="\t", header=0, index_col=[0])
# ! Also import Q (extension) from REXIA (Cabernard & Pfister, 2022)
Q = pd.read_csv(f"{rexia_dir_path}Q_REXIA.csv", header=[0, 1], index_col=[0])

In [4]:
# get multiindex
region_and_sector_labels = A.index

# get each level using  'get_level_values()'
region_labels = A.index.get_level_values(level=0).unique()
sector_labels = A.index.get_level_values(level=1).unique()
FD_sector_labels = Y.columns.get_level_values(level=1).unique()

In [5]:
# Some sector labels of Q do not match those of Exiobase
wrong_labels = [
    '"Fishing, operating of fish hatcheries and fish farms; service activities incidental to fishing (05)"',
    '"Manufacture of furniture; manufacturing n.e.c. (36)"',
    '"Manufacture of gas; distribution of gaseous fuels through mains"',
    '"Manufacture of wearing apparel; dressing and dyeing of fur (18)"',
    '"Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials (20)"',
    '"Mining of coal and lignite; extraction of peat (10)"',
    '"Public administration and defence; compulsory social security (75)"',
    '"Retail trade, except of motor vehicles and motorcycles; repair of personal and household goods (52)"',
    '"Supporting and auxiliary transport activities; activities of travel agencies (63)"',
    '"Tanning and dressing of leather; manufacture of luggage, handbags, saddlery, harness and footwear (19)"',
]
correct_labels = [
    "Fishing, operating of fish hatcheries and fish farms; service activities incidental to fishing (05)",
    "Manufacture of furniture; manufacturing n.e.c. (36)",
    "Manufacture of gas; distribution of gaseous fuels through mains",
    "Manufacture of wearing apparel; dressing and dyeing of fur (18)",
    "Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials (20)",
    "Mining of coal and lignite; extraction of peat (10)",
    "Public administration and defence; compulsory social security (75)",
    "Retail trade, except of motor vehicles and motorcycles; repair of personal and household goods (52)",
    "Supporting and auxiliary transport activities; activities of travel agencies (63)",
    "Tanning and dressing of leather; manufacture of luggage, handbags, saddlery, harness and footwear (19)",
]

sectors_mapping = {wrong_labels[i]: correct_labels[i] for i, _ in enumerate(wrong_labels)}
Q.rename(columns=sectors_mapping, inplace=True)

# make sure that both indexes are the same
sorted(sector_labels) == sorted(Q.columns.get_level_values(level=1).unique())

True

In [6]:
# Aggregate countries so as to match the region clusters of Exiobase

# Use the mapping file to determine which countries is associated to which cluster
# And also change to country code instead of the full country name
countries_mapping = pd.read_csv("./countries_mapping.csv", header=None)
countries_mapping.set_index(0, inplace=True)

# check that each country is associated with a region associated in the csv file
for country in list(Q.columns.get_level_values(0).unique()):
    if len(countries_mapping.loc[country, 1]) != 2:
        print(country)

# Assign each country to its region
clusters = dict()
for code in countries_mapping[1]:
    clusters[code] = []
for country in list(Q.columns.get_level_values(0).unique()):
    clusters[countries_mapping.loc[country, 1]].append(country)

# check that we have the right number of clusters
print((len(clusters) == 49) & (sorted(region_labels) == sorted(clusters.keys())))

True

In [7]:
# Update Q with the new region and sector labels
new_Q = []
for code, countries in clusters.items():
    res = Q.loc[:, clusters[code]].groupby(level=1, axis=1).sum().loc[:, sector_labels]
    res = pd.concat([res], keys=[code], axis=1)
    new_Q.append(res)

new_Q = pd.concat(new_Q, axis=1)
new_Q.columns.set_names(["region", "sector"], inplace=True)
new_Q.index.set_names(["stressor"], inplace=True)
del Q
new_Q

region                                                                    AT
sector                                             Cultivation of paddy rice
stressor
BGS mining data [t]                                                     0.00  \
Land use area of mining ? primary commodity all...                      0.00
Land-use related biodiversity loss of mining ? ...                      0.00
Land use area of mining ? monetary allocation [...                      0.00
Land-use related biodiversity loss of mining ? ...                      0.00
Total material footprint [kt]                                           0.00
Climate change impacts [kg CO2-eq]                                      0.00
Particulate-matter related health impacts [DALYs]                       0.00
Blue water consumption [Mio. m3]                                        0.00
Water stress [Mio. m3 H2O-eq]                                           0.00
Total land use area based on EXIOBASE3 [km2]                            0.00
Total land-use related biodiversity loss based ...                      0.00
Total land use area based on FAOSTAT for agricu...                      0.00
Total land-use related biodiversity loss based ...                      0.00

region
sector                                             Cultivation of wheat
stressor
BGS mining data [t]                                                0.00  \
Land use area of mining ? primary commodity all...                 0.00
Land-use related biodiversity loss of mining ? ...                 0.00
Land use area of mining ? monetary allocation [...                 0.00
Land-use related biodiversity loss of mining ? ...                 0.00
Total material footprint [kt]                                  1,632.32
Climate change impacts [kg CO2-eq]                       564,031,974.79
Particulate-matter related health impacts [DALYs]                237.72
Blue water consumption [Mio. m3]                                   0.79
Water stress [Mio. m3 H2O-eq]                                      1.00
Total land use area based on EXIOBASE3 [km2]                   3,118.04
Total land-use related biodiversity loss based ...         5,138,529.87
Total land use area based on FAOSTAT for agricu...           304,645.00
Total land-use related biodiversity loss based ...         5,250,904.40

region
sector                                             Cultivation of cereal grains nec
stressor
BGS mining data [t]                                                            0.00  \
Land use area of mining ? primary commodity all...                             0.00
Land-use related biodiversity loss of mining ? ...                             0.00
Land use area of mining ? monetary allocation [...                             0.00
Land-use related biodiversity loss of mining ? ...                             0.00
Total material footprint [kt]                                              3,133.72
Climate change impacts [kg CO2-eq]                                   818,868,108.21
Particulate-matter related health impacts [DALYs]                            364.99
Blue water consumption [Mio. m3]                                               6.86
Water stress [Mio. m3 H2O-eq]                                                  8.68
Total land use area based on EXIOBASE3 [km2]                               4,459.47
Total land-use related biodiversity loss based ...                     8,824,797.53
Total land use area based on FAOSTAT for agricu...                       507,126.00
Total land-use related biodiversity loss based ...                    10,598,061.64

region
sector                                             Cultivation of vegetables, fruit, nuts
stressor
BGS mining data [t]                                                                  0.00  \
Land use area of mining ? primary commodity all...                                   0.00
Land-use related biodiversity loss of mining ? ...                                   0.00
Land use area of mining ? monetary allocation [...                                   0.00
Land-use related biodiversity loss of mining ? ...                                   0.00
Total material footprint [kt]                                                    2,202.67
Climate change impacts [kg CO2-eq]                                         289,987,341.46
Particulate-matter related health impacts [DALYs]                                   79.68
Blue water consumption [Mio. m3]                                                    28.52
Water stress [Mio. m3 H2O-eq]                                                       36.06
Total land use area based on EXIOBASE3 [km2]                                     1,176.79
Total land-use related biodiversity loss based ...                           2,019,905.22
Total land use area based on FAOSTAT for agricu...                              65,959.00
Total land-use related biodiversity loss based ...                           1,480,526.31

region
sector                                             Cultivation of oil seeds
stressor
BGS mining data [t]                                                    0.00  \
Land use area of mining ? primary commodity all...                     0.00
Land-use related biodiversity loss of mining ? ...                     0.00
Land use area of mining ? monetary allocation [...                     0.00
Land-use related biodiversity loss of mining ? ...                     0.00
Total material footprint [kt]                                        317.91
Climate change impacts [kg CO2-eq]                           182,671,922.17
Particulate-matter related health impacts [DALYs]                    104.40
Blue water consumption [Mio. m3]                                       1.08
Water stress [Mio. m3 H2O-eq]                                          1.37
Total land use area based on EXIOBASE3 [km2]                       1,521.46
Total land-use related biodiversity loss based ...             2,054,834.35
Total land use area based on FAOSTAT for agricu...               144,902.00
Total land-use related biodiversity loss based ...             2,707,855.32

region
sector                                             Cultivation of sugar cane, sugar beet
stressor
BGS mining data [t]                                                                 0.00  \
Land use area of mining ? primary commodity all...                                  0.00
Land-use related biodiversity loss of mining ? ...                                  0.00
Land use area of mining ? monetary allocation [...                                  0.00
Land-use related biodiversity loss of mining ? ...                                  0.00
Total material footprint [kt]                                                   3,342.78
Climate change impacts [kg CO2-eq]                                        179,546,845.82
Particulate-matter related health impacts [DALYs]                                  40.16
Blue water consumption [Mio. m3]                                                   10.02
Water stress [Mio. m3 H2O-eq]                                                      12.67
Total land use area based on EXIOBASE3 [km2]                                      402.54
Total land-use related biodiversity loss based ...                            649,749.17
Total land use area based on FAOSTAT for agricu...                             50,604.00
Total land-use related biodiversity loss based ...                            958,114.14

region
sector                                             Cultivation of plant-based fibers
stressor
BGS mining data [t]                                                             0.00  \
Land use area of mining ? primary commodity all...                              0.00
Land-use related biodiversity loss of mining ? ...                              0.00
Land use area of mining ? monetary allocation [...                              0.00
Land-use related biodiversity loss of mining ? ...                              0.00
Total material footprint [kt]                                                   1.99
Climate change impacts [kg CO2-eq]                                        469,959.25
Particulate-matter related health impacts [DALYs]                               0.31
Blue water consumption [Mio. m3]                                                0.00
Water stress [Mio. m3 H2O-eq]                                                   0.00
Total land use area based on EXIOBASE3 [km2]                                    2.74
Total land-use related biodiversity loss based ...                          2,214.95
Total land use area based on FAOSTAT for agricu...                            909.00
Total land-use related biodiversity loss based ...                          9,457.61

region
sector                                             Cultivation of crops nec
stressor
BGS mining data [t]                                                    0.00  \
Land use area of mining ? primary commodity all...                     0.00
Land-use related biodiversity loss of mining ? ...                     0.00
Land use area of mining ? monetary allocation [...                     0.00
Land-use related biodiversity loss of mining ? ...                     0.00
Total material footprint [kt]                                         80.89
Climate change impacts [kg CO2-eq]                           330,908,985.52
Particulate-matter related health impacts [DALYs]                      3.09
Blue water consumption [Mio. m3]                                       7.90
Water stress [Mio. m3 H2O-eq]                                          9.99
Total land use area based on EXIOBASE3 [km2]                          41.88
Total land-use related biodiversity loss based ...                18,054.79
Total land use area based on FAOSTAT for agricu...                     1.80
Total land-use related biodiversity loss based ...             5,350,000.00

region
sector                                               Cattle farming
stressor
BGS mining data [t]                                            0.00  \
Land use area of mining ? primary commodity all...             0.00
Land-use related biodiversity loss of mining ? ...             0.00
Land use area of mining ? monetary allocation [...             0.00
Land-use related biodiversity loss of mining ? ...             0.00
Total material footprint [kt]                             12,288.91
Climate change impacts [kg CO2-eq]                 3,354,117,536.63
Particulate-matter related health impacts [DALYs]          1,418.95
Blue water consumption [Mio. m3]                              40.47
Water stress [Mio. m3 H2O-eq]                                 51.18
Total land use area based on EXIOBASE3 [km2]               7,836.97
Total land-use related biodiversity loss based ...    14,813,368.73
Total land use area based on FAOSTAT for agricu...     1,156,852.90
Total land-use related biodiversity loss based ...    10,971,703.96

region                                                             ...
sector                                               Pigs farming  ...
stressor                                                           ...
BGS mining data [t]                                          0.00  ...  \
Land use area of mining ? primary commodity all...           0.00  ...
Land-use related biodiversity loss of mining ? ...           0.00  ...
Land use area of mining ? monetary allocation [...           0.00  ...
Land-use related biodiversity loss of mining ? ...           0.00  ...
Total material footprint [kt]                              229.82  ...
Climate change impacts [kg CO2-eq]                 391,337,487.16  ...
Particulate-matter related health impacts [DALYs]          736.83  ...
Blue water consumption [Mio. m3]                             8.55  ...
Water stress [Mio. m3 H2O-eq]                               10.81  ...
Total land use area based on EXIOBASE3 [km2]               132.18  ...
Total land-use related biodiversity loss based ...     282,827.08  ...
Total land use area based on FAOSTAT for agricu...           0.00  ...
Total land-use related biodiversity loss based ...           0.00  ...

region                                                                   WM
sector                                             Landfill of waste: Paper
stressor
BGS mining data [t]                                                    0.00  \
Land use area of mining ? primary commodity all...                     0.00
Land-use related biodiversity loss of mining ? ...                     0.00
Land use area of mining ? monetary allocation [...                     0.00
Land-use related biodiversity loss of mining ? ...                     0.00
Total material footprint [kt]                                          0.00
Climate change impacts [kg CO2-eq]                        44,160,273,920.24
Particulate-matter related health impacts [DALYs]                    162.63
Blue water consumption [Mio. m3]                                       0.00
Water stress [Mio. m3 H2O-eq]                                          0.00
Total land use area based on EXIOBASE3 [km2]                           0.00
Total land-use related biodiversity loss based ...                     0.00
Total land use area based on FAOSTAT for agricu...                     0.00
Total land-use related biodiversity loss based ...                     0.00

region
sector                                             Landfill of waste: Plastic
stressor
BGS mining data [t]                                                      0.00  \
Land use area of mining ? primary commodity all...                       0.00
Land-use related biodiversity loss of mining ? ...                       0.00
Land use area of mining ? monetary allocation [...                       0.00
Land-use related biodiversity loss of mining ? ...                       0.00
Total material footprint [kt]                                            0.00
Climate change impacts [kg CO2-eq]                           1,469,757,850.40
Particulate-matter related health impacts [DALYs]                      133.55
Blue water consumption [Mio. m3]                                         0.00
Water stress [Mio. m3 H2O-eq]                                            0.00
Total land use area based on EXIOBASE3 [km2]                             0.00
Total land-use related biodiversity loss based ...                       0.00
Total land use area based on FAOSTAT for agricu...                       0.00
Total land-use related biodiversity loss based ...                       0.00

region
sector                                             Landfill of waste: Inert/metal/hazardous
stressor
BGS mining data [t]                                                                    0.00  \
Land use area of mining ? primary commodity all...                                     0.00
Land-use related biodiversity loss of mining ? ...                                     0.00
Land use area of mining ? monetary allocation [...                                     0.00
Land-use related biodiversity loss of mining ? ...                                     0.00
Total material footprint [kt]                                                          0.00
Climate change impacts [kg CO2-eq]                                            64,327,464.57
Particulate-matter related health impacts [DALYs]                                    176.46
Blue water consumption [Mio. m3]                                                       0.00
Water stress [Mio. m3 H2O-eq]                                                          0.00
Total land use area based on EXIOBASE3 [km2]                                           0.00
Total land-use related biodiversity loss based ...                                     0.00
Total land use area based on FAOSTAT for agricu...                                     0.00
Total land-use related biodiversity loss based ...                                     0.00

region
sector                                             Landfill of waste: Textiles
stressor
BGS mining data [t]                                                       0.00  \
Land use area of mining ? primary commodity all...                        0.00
Land-use related biodiversity loss of mining ? ...                        0.00
Land use area of mining ? monetary allocation [...                        0.00
Land-use related biodiversity loss of mining ? ...                        0.00
Total material footprint [kt]                                             0.00
Climate change impacts [kg CO2-eq]                            6,094,277,979.38
Particulate-matter related health impacts [DALYs]                       151.48
Blue water consumption [Mio. m3]                                          0.00
Water stress [Mio. m3 H2O-eq]                                             0.00
Total land use area based on EXIOBASE3 [km2]                              0.00
Total land-use related biodiversity loss based ...                        0.00
Total land use area based on FAOSTAT for agricu...                        0.00
Total land-use related biodiversity loss based ...                        0.00

region
sector                                             Landfill of waste: Wood
stressor
BGS mining data [t]                                                   0.00  \
Land use area of mining ? primary commodity all...                    0.00
Land-use related biodiversity loss of mining ? ...                    0.00
Land use area of mining ? monetary allocation [...                    0.00
Land-use related biodiversity loss of mining ? ...                    0.00
Total material footprint [kt]                                         0.00
Climate change impacts [kg CO2-eq]                        1,352,121,511.51
Particulate-matter related health impacts [DALYs]                   223.96
Blue water consumption [Mio. m3]                                      0.00
Water stress [Mio. m3 H2O-eq]                                         0.00
Total land use area based on EXIOBASE3 [km2]                          0.00
Total land-use related biodiversity loss based ...                    0.00
Total land use area based on FAOSTAT for agricu...                    0.00
Total land-use related biodiversity loss based ...                    0.00

region
sector                                             Activities of membership organisation n.e.c. (91)
stressor
BGS mining data [t]                                                                             0.00  \
Land use area of mining ? primary commodity all...                                              0.00
Land-use related biodiversity loss of mining ? ...                                              0.00
Land use area of mining ? monetary allocation [...                                              0.00
Land-use related biodiversity loss of mining ? ...                                              0.00
Total material footprint [kt]                                                                   0.00
Climate change impacts [kg CO2-eq]                                                    212,260,633.86
Particulate-matter related health impacts [DALYs]                                             119.67
Blue water consumption [Mio. m3]                                                                0.01
Water stress [Mio. m3 H2O-eq]                                                                   0.50
Total land use area based on EXIOBASE3 [km2]                                                    0.00
Total land-use related biodiversity loss based ...                                              0.00
Total land use area based on FAOSTAT for agricu...                                              0.00
Total land-use related biodiversity loss based ...                                              0.00

region

# Compute Leontief

In [8]:
# Create an identity matrix the same order
Id = np.identity(len(region_and_sector_labels))

# Compute leontief inverse matrix in the Demand-pull model
L_values = np.linalg.inv((Id - A))
L = pd.DataFrame(data=L_values, index=region_and_sector_labels, columns=region_and_sector_labels)

# compute extension intensity
f_satellite = F_satellite / x.T
f_satellite = f_satellite.replace([np.inf, -np.inf, np.nan], 0)  # ! don't forget to replace

f_impact = F_impact / x.T
f_impact = f_impact.replace([np.inf, -np.inf, np.nan], 0)  # ! don't forget to replace

# compute extension intensity
f_rexia = new_Q / x.T
f_rexia = f_rexia.replace([np.inf, -np.inf, np.nan], 0)  # ! don't forget to replace

# 3) Supply chain of metals

In [9]:
# Derive index
# ! (matlab code lines 767-796)

METALS = sector_labels[np.r_[24:31, 70:83]]

index_t = pd.IndexSlice[:, METALS]
index_t = A.loc[index_t, :].index  # to have explicit labels instead of slice(None)

index_o = region_and_sector_labels.difference(index_t)

# Show (first) results
index_t[:5]

MultiIndex([('AT', 'Mining of iron ores'),
            ('BE', 'Mining of iron ores'),
            ('BG', 'Mining of iron ores'),
            ('CY', 'Mining of iron ores'),
            ('CZ', 'Mining of iron ores')],
           names=['region', 'sector'])

In [10]:
# Derive the Leontief inverse for the remaining economy
# ! (matlab code lines 798 - 801)

# Create an identity matrix the same order
Id = np.identity(len(index_o))

# get corresponding (numerical) index for index_o
ix_o = np.sort(region_and_sector_labels.get_indexer_for(index_o))

# Compute leontief inverse matrix in the Demand-pull model (for the remaining economy)
L_oo_dash = pd.DataFrame(
    data=np.zeros(shape=A.shape),
    index=region_and_sector_labels,
    columns=region_and_sector_labels,
)
L_oo_dash.iloc[ix_o, ix_o] = np.linalg.inv(Id - A.iloc[ix_o, ix_o])

# save intermediary calculation that will be reused multiple times
Y_region = Y.groupby(by="region", axis=1).sum()
Y_region = Y_region.loc[region_and_sector_labels, region_labels]  # reorder rows / cols
Y_global = Y_region.sum(axis=1)
AtoLoo = A.loc[index_t, index_o] @ L_oo_dash.loc[index_o, index_o]

In [11]:
# Show results
Y_region

region                                                        AT   BE   BG
region sector
AT     Cultivation of paddy rice                            0.00 0.00 0.00  \
       Cultivation of wheat                                 0.00 0.10 2.20
       Cultivation of cereal grains nec                   152.07 0.32 0.37
       Cultivation of vegetables, fruit, nuts             803.64 0.33 1.37
       Cultivation of oil seeds                             0.00 0.14 3.48
...                                                          ...  ...  ...
WM     Activities of membership organisation n.e.c. (91)    1.06 3.42 2.26
       Recreational, cultural and sporting activities ...   9.15 2.20 3.83
       Other service activities (93)                        1.54 3.59 0.14
       Private households with employed persons (95)        0.17 1.36 0.02
       Extra-territorial organizations and bodies           0.00 0.00 0.00

region                                                      CY   CZ    DE
region sector
AT     Cultivation of paddy rice                          0.00 0.00  0.00  \
       Cultivation of wheat                               0.01 0.21 14.69
       Cultivation of cereal grains nec                   0.02 0.50 13.44
       Cultivation of vegetables, fruit, nuts             0.09 6.68 98.67
       Cultivation of oil seeds                           0.00 0.52 24.16
...                                                        ...  ...   ...
WM     Activities of membership organisation n.e.c. (91)  0.23 0.51  5.08
       Recreational, cultural and sporting activities ... 3.69 8.63 13.57
       Other service activities (93)                      0.01 0.39  2.65
       Private households with employed persons (95)      0.16 0.10  1.41
       Extra-territorial organizations and bodies         0.00 0.00  0.00

region                                                       DK   EE    ES
region sector
AT     Cultivation of paddy rice                           0.00 0.00  0.00  \
       Cultivation of wheat                                0.00 0.01  0.28
       Cultivation of cereal grains nec                    0.01 0.03  0.15
       Cultivation of vegetables, fruit, nuts              0.60 0.03  4.29
       Cultivation of oil seeds                            0.83 0.00  0.03
...                                                         ...  ...   ...
WM     Activities of membership organisation n.e.c. (91)   2.78 0.37  4.85
       Recreational, cultural and sporting activities ... 14.07 0.29 20.33
       Other service activities (93)                       1.06 0.02  5.36
       Private households with employed persons (95)       0.07 0.02 90.87
       Extra-territorial organizations and bodies          0.00 0.00  0.00

region                                                       FI  ...   TR
region sector                                                    ...
AT     Cultivation of paddy rice                           0.00  ... 0.00  \
       Cultivation of wheat                                0.01  ... 0.01
       Cultivation of cereal grains nec                    0.03  ... 0.03
       Cultivation of vegetables, fruit, nuts              1.28  ... 0.48
       Cultivation of oil seeds                            0.16  ... 0.00
...                                                         ...  ...  ...
WM     Activities of membership organisation n.e.c. (91)   1.29  ... 1.09
       Recreational, cultural and sporting activities ... 10.59  ... 0.12
       Other service activities (93)                       1.64  ... 3.62
       Private households with employed persons (95)       0.10  ... 1.00
       Extra-territorial organizations and bodies          0.00  ... 0.00

region                                                      TW    NO   ID
region sector
AT     Cultivation of paddy rice                          0.00  0.00 0.00  \
       Cultivation of wheat                               0.01  0.06 0.00
       Cultivation of cereal grains nec                   0.03  0.18 0.00
       Cultivation of vegetables, fruit, nuts             0.00  0.70 0.00
       Cultivation of oil seeds                           0.00  0.06 0.00
...                                                        ...   ...  ...
WM     Activities of membership organisation n.e.c. (91)  0.18  1.36 2.52
       Recreational, cultural and sporting activities ... 6.56 10.00 2.58
       Other service activities (93)                      3.93  2.09 1.47
       Private households with employed persons (95)      0.12  0.14 0.47
       Extra-territorial organizations and bodies         0.00  0.00 0.00

region                                                      ZA   WA   WL   WE
region sector
AT     Cultivation of paddy rice                          0.00 0.00 0.00 0.00  \
       Cultivation of wheat                               0.00 0.18 0.01 0.10
       Cultivation of cereal grains nec                   0.01 0.48 0.03 0.33
       Cultivation of vegetables, fruit, nuts             0.00 0.49 0.00 3.54
       Cultivation of oil seeds                           0.00 0.86 0.00 0.00
...                                                        ...  ...  ...  ...
WM     Activities of membership organisation n.e.c. (91)  0.48 6.68 2.43 4.58
       Recreational, cultural and sporting activities ... 1.55 8.54 5.59 6.59
       Other service activities (93)                      2.79 4.26 4.83 5.10
       Private households with employed persons (95)      0.47 9.95 0.66 0.63
       Extra-territorial organizations and bodies         0.00 0.00 0.00 0.00

region                                                       WF        WM
region sector
AT     Cultivation of paddy rice                           0.00      0.00
       Cultivation of wheat                                0.00      1.34
       Cultivation of cereal grains nec                    0.01      1.99
       Cultivation of vegetables, fruit, nuts              0.82      4.38
       Cultivation of oil seeds                            0.00      0.00
...                                                         ...       ...
WM     Activities of membership organisation n.e.c. (91)   6.56  9,098.27
       Recreational, cultural and sporting activities ... 10.17 29,470.71
       Other service activities (93)                       6.17 18,450.94
       Private households with employed persons (95)       6.68    324.31
       Extra-territorial organizations and bodies          0.00      0.00

[7987 rows x 49 columns]

In [12]:
# Show results
Y_global

region  sector
AT      Cultivation of paddy rice                                  0.00
        Cultivation of wheat                                     112.16
        Cultivation of cereal grains nec                         192.44
        Cultivation of vegetables, fruit, nuts                 1,033.94
        Cultivation of oil seeds                                  41.69
                                                                 ...
WM      Activities of membership organisation n.e.c. (91)      9,206.81
        Recreational, cultural and sporting activities (92)   29,868.39
        Other service activities (93)                         18,556.71
        Private households with employed persons (95)          4,022.69
        Extra-territorial organizations and bodies                 0.00
Length: 7987, dtype: float64

## Choice of stressor

In [13]:
# Select stressors to be analysed
# ! (matlab code line 803)

# # Option 1: if we precisely know which stressor we want to analyse
# idx = [
#     "Domestic Extraction Used - Metal Ores - Nickel ores",
#     "Unused Domestic Extraction - Metal Ores - Nickel ores",
# ]

# # Option 2: find all the stressors that contain the word...
# stressor = "Water Withdrawal Blue - Manufacturing"
# MASK = d.index.str.contains(stressor, flags=re.IGNORECASE, regex=True)
# idx = d.loc[MASK].index
# print(*list(zip(d.index.get_indexer_for(idx), idx)), sep="\n")

# Option 3: use Q from REXIA (Cabernard & Pfister, 2022)
d = f_rexia  # choose f_impact / f_satellite / f_biodiv
stressor_labels = d.index  # .get_level_values(level=1).unique()
list(enumerate(d.index))

[(0, 'BGS mining data [t]'),
 (1, 'Land use area of mining ? primary commodity allocation [km2]'),
 (2,
  'Land-use related biodiversity loss of mining ? primary commodity allocation [global pdf]'),
 (3, 'Land use area of mining ? monetary allocation [km2]'),
 (4,
  'Land-use related biodiversity loss of mining ? monetary allocation [global pdf]'),
 (5, 'Total material footprint [kt]'),
 (6, 'Climate change impacts [kg CO2-eq]'),
 (7, 'Particulate-matter related health impacts [DALYs]'),
 (8, 'Blue water consumption [Mio. m3]'),
 (9, 'Water stress [Mio. m3 H2O-eq]'),
 (10, 'Total land use area based on EXIOBASE3 [km2]'),
 (11,
  'Total land-use related biodiversity loss based on EXIOBASE3 [10^12 global pdf]'),
 (12,
  'Total land use area based on FAOSTAT for agriculture and forestry [km2]'),
 (13,
  'Total land-use related biodiversity loss based on FAOSTAT for agriculture and forestry [10^12 global pdf]')]

In [50]:
d_i = d.iloc[np.r_[4]].sum()
stress = "biodiv"  # for the sankey (excel) data

# save intermediary calculation that will be reused multiple times
dLt = d_i @ L.loc[:, index_t]

# # ! make sure it is a column vector (= pd.Series). use sum() if necessary
d_i

region  sector
AT      Cultivation of paddy rice                             0.00
        Cultivation of wheat                                  0.00
        Cultivation of cereal grains nec                      0.00
        Cultivation of vegetables, fruit, nuts                0.00
        Cultivation of oil seeds                              0.00
                                                              ...
WM      Activities of membership organisation n.e.c. (91)     0.00
        Recreational, cultural and sporting activities (92)   0.00
        Other service activities (93)                         0.00
        Private households with employed persons (95)         0.00
        Extra-territorial organizations and bodies            0.00
Name: Land-use related biodiversity loss of mining ? monetary allocation [global pdf], Length: 7987, dtype: float64

## Link Preg Treg

$$E_{P,T} = diag\biggl(d_{i}\biggr) \times L_{all, T} \times diag\biggl(Y_{all, T} + A_{T,O} \times L'_{O,O} \times Y_{all, O}\biggr)$$

Important notes:

- `*` in **Matlab** = `@` in **Python** (Pandas / Numpy) = **dot product**
- `*` in **Python** = **element-wise multiplication**
- `A * diag(B)` in Matlab = `A @ diag(B)` = `A * B.T`
- `diag(A) * B` in Matlab = `diag(A) @ B` = `( A * B.T ).T`

In [51]:
# ! (matlab code lines 805-812)

E_P_T = pd.DataFrame(
    data=np.zeros(shape=A.shape),
    index=region_and_sector_labels,
    columns=region_and_sector_labels,
)

# Compute Lall-t . diag( Yall-t +  Ato.Loo.Yall-o)
Lt_x_Yt_plus_AtoLooY_GLO = (
    L.loc[:, index_t] * (Y_global.loc[index_t] + AtoLoo @ Y_global.loc[index_o]).T
)

# Compute diag(di) . Lall-t . diag( Yall-t +  Ato.Loo.Yall-o)
E_P_T.loc[:, index_t] = (d_i * Lt_x_Yt_plus_AtoLooY_GLO.T).T.values

# sum the sectors together and keep regions disaggregated along both axis
E_Preg_Treg = E_P_T.groupby("region", axis=0).sum().groupby("region", axis=1).sum()

# reorder rows and cols
E_Preg_Treg = E_Preg_Treg.loc[region_labels, region_labels]

# delete variables that are no longer used to save memory
del Lt_x_Yt_plus_AtoLooY_GLO

# show results
E_Preg_Treg

region,AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,...,TR,TW,NO,ID,ZA,WA,WL,WE,WF,WM
region,,,,,,,,,,,,,,,,,,,,,
AT,"19,254.09",18.33,1.16,0.19,6.83,68.29,0.77,0.13,21.44,1.95,...,64.47,52.03,5.06,6.57,3.36,229.86,21.36,3.58,39.92,"5,428.63"
BE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
BG,339.42,"4,984.00","62,568.60",3.47,203.75,"15,681.05",19.00,24.06,223.56,"6,102.12",...,"3,173.27",604.89,180.36,26.18,70.76,"1,549.28",42.61,265.56,283.80,712.64
CY,5.77,6.62,1.79,"29,692.79",2.45,16.33,3.38,0.35,17.64,5.55,...,10.62,6.86,1.84,54.50,2.50,12.16,10.47,4.29,4.40,10.75
CZ,336.66,50.31,10.09,0.12,"23,685.38","1,641.70",17.10,2.45,73.82,24.25,...,79.24,16.57,37.06,2.38,2.20,45.61,21.70,48.63,22.70,63.11
DE,241.66,388.11,8.22,1.01,470.50,"24,858.49",31.84,3.64,784.82,55.08,...,196.89,80.64,67.32,9.46,21.00,225.66,67.59,38.58,83.22,"2,578.04"
DK,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
EE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ES,367.96,"7,169.72","52,240.92",6.42,172.29,"4,245.87",14.97,7.10,"51,788.11",83.97,...,"5,412.91","10,955.07",110.32,61.49,16.13,"1,718.14",186.66,461.97,589.46,"1,230.71"
FI,25.78,184.56,1.40,0.03,15.14,631.69,9.24,10.00,20.18,"7,628.00",...,35.78,600.36,55.60,2.16,0.87,77.61,10.00,5.94,10.31,39.14
FR,309.50,362.60,4.16,0.20,78.75,"2,052.61",32.44,4.94,478.48,25.26,...,73.64,130.95,115.33,3.49,7.50,126.79,55.61,22.90,158.25,261.68
GR,"3,966.70","2,192.17","2,430.20",24.93,"5,931.13","28,785.84",446.11,24.01,"17,278.05",171.61,...,"1,553.18","1,476.88","1,173.22",47.96,"3,114.55","1,439.24",576.79,"10,236.46","1,261.06","2,178.65"
HR,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
HU,156.35,12.25,6.80,0.06,"2,885.76",222.92,4.60,0.43,12.64,17.77,...,16.63,10.12,13.67,2.07,1.09,11.06,9.82,26.78,6.06,12.46
IE,2.35,14.67,0.21,0.00,1.60,17.03,0.62,0.18,4.07,84.12,...,0.72,0.65,11.89,0.02,0.02,1.72,0.10,0.11,0.23,0.64
IT,200.87,"4,065.35",73.82,0.14,252.83,"2,255.94",16.09,0.95,"6,227.76",11.84,...,491.24,97.67,31.83,3.24,1.67,456.78,14.16,15.65,47.83,183.05
LT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
LU,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
LV,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
PL,360.16,139.56,43.41,2.67,"1,020.58","2,833.33",51.73,24.35,108.57,78.82,...,232.64,208.20,167.03,5.19,8.66,195.54,24.50,257.71,70.40,121.00
PT,11.42,46.29,70.90,0.04,6.67,191.33,2.14,1.04,102.30,381.91,...,17.21,9.89,38.70,0.95,0.46,21.89,4.21,2.60,14.48,13.57
RO,421.54,359.44,"2,324.32",0.45,69.02,553.71,4.31,1.21,54.40,12.07,...,361.72,136.36,17.80,6.13,2.07,310.26,18.48,71.36,48.46,100.59
SE,30.07,159.53,1.89,0.06,35.16,"1,537.64",32.58,8.08,34.68,710.13,...,596.58,30.14,157.28,3.32,2.91,122.91,21.70,8.57,31.54,507.97
SI,133.07,12.06,3.47,0.05,65.24,190.13,1.29,4.35,9.22,2.58,...,21.04,2.62,2.33,0.26,0.20,6.85,2.21,49.45,4.09,7.31
SK,12.86,"2,699.81",0.46,0.20,121.08,218.44,0.55,5.92,3.54,1.59,...,38.24,24.43,1.60,0.51,0.41,38.16,1.94,1.42,2.27,190.36
GB,2.96,5.55,0.84,0.02,2.43,43.69,0.92,0.08,9.94,8.37,...,9.29,4.08,23.07,0.66,0.59,18.67,19.44,1.59,3.78,19.97
US,"1,877.45","4,953.70",327.67,4.55,"1,230.20","17,707.86",141.22,30.78,"29,116.80","2,537.92",...,"4,875.80","11,102.29","1,826.09",467.31,333.22,"32,947.62","4,359.95","3,091.99","6,249.45","10,812.21"
JP,5.60,2.59,1.00,0.01,1.27,18.01,0.27,0.06,2.28,0.53,...,6.43,204.76,2.20,4.29,0.84,723.59,2.98,0.76,1.98,23.44
CN,370.27,"2,958.98",85.29,2.94,399.12,"5,729.48",113.52,15.70,"1,607.80",235.96,...,"2,372.12","2,140.26",538.50,"1,175.38",233.17,"40,815.44","5,236.18",659.85,"2,818.85","8,754.05"
CA,611.14,"4,102.30",667.16,1.57,290.63,"12,479.93",133.53,16.69,"4,433.79","5,127.12",...,"2,581.52","13,040.50","13,646.12",875.31,638.18,"7,721.71","3,289.39",189.89,719.71,"2,559.49"
KR,1.46,8.90,0.44,0.01,3.54,15.04,0.63,0.22,5.74,0.99,...,46.49,461.15,3.78,15.48,1.12,390.62,28.50,2.28,14.63,82.51
BR,"3,519.76","12,924.75","4,855.25",14.18,"1,665.46","80,989.79",865.00,174.49,"21,474.11","7,405.94",...,"27,180.78","213,133.24","30,162.16","5,332.51",742.68,"59,942.92","71,205.78","5,514.84","7,925.75","80,765.39"
IN,467.43,"2,187.60",246.08,5.69,424.10,"3,539.36",127.31,38.58,"1,533.58",163.33,...,"3,609.34","10,069.60",398.70,976.88,265.45,"26,696.57","4,266.18",708.60,"5,630.14","31,274.47"
MX,746.20,"5,638.64",116.84,1.77,377.73,"7,564.95",49.87,22.41,"2,521.77",137.09,...,"1,826.57","16,417.73",606.53,290.69,54.31,"19,454.69","4,463.31",124.09,660.20,"4,099.05"
RU,"2,010.62","6,876.03",490.23,30.74,"4,479.41","17,688.02",646.01,200.06,"3,130.90","5,369.54",...,"34,535.20","24,372.36","2,025.57",543.57,143.08,"28,876.21","1,666.00","12,431.30","2,874.91","19,882.83"
AU,"5,168.75","46,361.93","6,790.52",42.43,"4,720.07","89,952.24",869.70,158.97,"39,655.57","2,607.67",...,"32,254.53","1,490,508.18","6,605.90","30,077.37","2,686.14","402,451.42","27,189.06","3,931.34","20,014.93","88,842.71"
CH,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
TR,"1,063.53","9,078.48","11,708.31",5.47,"1,263.57","10,637.02",202.43,24.64,"15,466.99","1,992.82",...,"589,763.64","49,366.78","1,581.11",280.59,75.37,"13,840.48","1,543.15","4,491.65","2,174.63","17,962.06"
TW,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NO,1.72,4.48,0.25,0.02,1.77,112.21,1.70,0.17,4.77,4.18,...,12.49,2.94,"3,005.57",0.37,0.32,12.48,1.70,2.28,4.51,123.86
ID,"2,631.32","10,204.64","4,304.60",30.69,"2,557.77","26,457.71",816.31,155.45,"41,968.68","6,243.98",...,"24,248.96","316,370.74","9,150.78","7,911,298.91","2,918.08","1,155,202.15","15,723.53","4,547.22","19,609.19","143,540.79"
ZA,"1,230.20","30,984.12",274.20,21.93,907.25,"13,122.25",535.52,50.86,"8,213.14","27,258.77",...,"6,373.35","70,993.54","3,671.20","1,346.84","1,332,052.58","66,247.66","3,072.99","1,427.20","23,459.91","45,454.02"
WA,"12,574.05","36,720.05","16,201.80",44.56,"10,506.11","117,028.43","1,885.59",491.37,"22,168.66","8,766.75",...,"53,874.98","2,446,617.18","23,165.45","32,902.25","7,152.15","13,643,905.93","43,519.65","13,098.14","35,261.14","128,014.61"
WL,"23,549.40","202,508.66","84,989.77",60.68,"8,968.29","341,141.92","3,970.42",666.12,"232,283.34","53,473.04",...,"45,647.27","142,221.43","13,873.88","8,164.84","1,141.97","255,403.10","14,851,102.09","250,990.80","26,345.27","89,802.96"
WE,324.49,607.88,"12,531.24",19.85,779.05,"3,608.68",27.87,40.28,437.54,53.83,...,"5,466.27","19,059.58",84.83,104.43,27.69,"2,758.52",439.43,"320,175.39",927.47,"2,178.17"
WF,"5,040.87","25,137.13","11,096.20",32.43,"2,995.16","143,401.07",392.01,142.40,"53,539.23","3,281.62",...,"13,826.24","53,252.74","13,120.57","1,033.53","7,348.62","39,196.22","3,043.85","22,887.81","4,549,989.28","59,780.24"
WM,186.41,762.42,392.52,11.82,182.73,959.68,24.68,4.30,830.52,48.52,...,"1,974.69","5,873.15",99.16,219.13,177.22,"4,411.45",413.80,107.16,964.56,"274,518.06"

## Link Treg FDreg

$$E_{T, FDreg} = diag\biggl(d_{i} \times L_{all, T}\biggr) \times \biggl(Y_{T, reg} + A_{T,O} \times L'_{O,O} \times Y_{O, reg}\biggr)$$

Important notes:

- `*` in **Matlab** = `@` in **Python** (Pandas / Numpy) = **dot product**
- `*` in **Python** = **element-wise multiplication**
- `A * diag(B)` in Matlab = `A @ diag(B)` = `A * B.T`
- `diag(A) * B` in Matlab = `diag(A) @ B` = `( A * B.T ).T`

In [52]:
# ! (matlab code lines 814-820)

E_T_FDreg = pd.DataFrame(
    data=np.zeros(shape=(len(region_and_sector_labels), len(region_labels))),
    index=region_and_sector_labels,
    columns=region_labels,
)

# Compute Yrt + Ato.Loo.Yro
Yt_plus_AtoLooY_REG = Y_region.loc[index_t, :] + AtoLoo @ Y_region.loc[index_o, :]

# Compute diag(di) .  Lall-t  .  ( Yrt + Ato.Loo.Yro )
E_T_FDreg.loc[index_t, :] = (dLt * Yt_plus_AtoLooY_REG.T).T.values

# group sectors together (along the rows) and keep regions disaggregated
E_Treg_FDreg = E_T_FDreg.groupby("region", axis=0).sum().loc[region_labels]

# reorder rows and cols
E_Treg_FDreg = E_Treg_FDreg.loc[region_labels, region_labels]

# delete variables that are no longer used to save memory space
del E_T_FDreg

# Show results
E_Treg_FDreg

region,AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,...,TR,TW,NO,ID,ZA,WA,WL,WE,WF,WM
region,,,,,,,,,,,,,,,,,,,,,
AT,"27,543.45",541.87,180.02,16.51,685.88,"10,045.21",256.68,49.30,845.08,221.73,...,891.30,243.77,414.85,196.08,120.09,"2,814.66","1,001.70",479.96,899.37,"12,031.21"
BE,"3,884.27","74,784.12",405.43,88.17,"1,729.29","43,722.60","1,290.74",229.66,"7,199.10","1,385.13",...,"6,268.85",980.82,"2,047.02","1,262.27","1,051.67","22,227.59","7,293.27","1,505.31","11,293.74","41,766.68"
BG,"1,618.95","5,359.28","46,025.08",89.68,998.78,"14,194.92",566.80,120.68,"2,079.86",781.68,...,"30,942.11","10,830.42",773.45,821.37,"8,303.28","13,459.66","2,796.15","2,143.14","4,615.27","22,055.04"
CY,257.17,244.42,82.35,"15,893.59",207.13,438.82,184.81,112.25,312.49,231.18,...,443.83,321.47,335.74,192.64,194.02,460.29,435.97,276.07,422.33,"1,169.18"
CZ,"1,727.61",791.66,235.06,14.42,"18,252.07","12,565.32",327.75,69.19,"1,072.75",307.58,...,"1,213.19",244.33,596.40,144.23,93.82,"2,075.83","1,074.10",598.58,"1,019.42","2,530.41"
DE,"17,141.76","13,360.22","1,764.56",178.75,"8,851.45","235,633.21","5,272.09",601.13,"15,279.62","3,722.53",...,"17,920.49","4,617.67","6,643.79","3,199.84","2,213.87","50,327.92","17,429.90","4,394.82","16,068.92","53,056.82"
DK,65.93,98.03,11.28,2.01,61.40,965.97,"3,583.01",21.91,149.95,132.01,...,232.29,33.98,567.32,30.71,24.37,375.73,210.22,64.67,171.98,340.17
EE,9.22,37.10,26.54,1.53,7.36,116.79,24.91,192.81,14.56,136.53,...,147.45,8.47,95.42,6.16,3.02,113.41,28.94,25.97,29.03,88.45
ES,"2,195.27","4,303.62",519.74,164.70,"1,417.64","31,166.79","1,002.88",164.03,"141,747.87","1,032.63",...,"27,243.40","14,755.22","2,126.26","1,547.44",898.96,"18,800.93","16,598.37","1,995.45","31,416.91","46,114.24"
FI,689.65,"1,011.85",94.51,18.73,410.57,"10,956.62",776.27,487.37,"1,171.21","35,035.29",...,"1,087.41",544.50,"2,235.40",707.92,217.56,"6,577.62","2,430.29",538.77,"1,808.86","4,454.57"
FR,"4,511.14","9,478.28",576.97,94.62,"2,413.85","45,080.59","1,549.56",223.88,"19,545.01","1,345.15",...,"7,706.02","1,660.33","2,960.00","1,361.47","1,082.21","17,766.55","8,625.38","1,501.83","20,432.62","26,530.38"
GR,"2,737.74","2,922.71","3,465.23","1,042.03","2,450.19","21,353.35","1,574.00",255.07,"6,479.49","1,102.02",...,"8,571.77","17,774.59","1,825.96","1,318.42","6,791.50","10,611.44","5,523.66","6,766.07","13,156.55","15,796.07"
HR,909.71,394.53,87.79,31.34,300.61,"3,198.65",239.00,34.53,440.17,172.31,...,406.15,159.90,352.52,153.12,100.16,821.44,545.59,"1,233.43",582.63,946.42
HU,834.55,264.26,174.39,10.75,720.23,"4,722.81",156.36,27.57,489.53,115.08,...,551.29,170.44,202.77,71.38,48.97,"1,673.33",552.53,486.42,542.30,"1,247.93"
IE,311.71,650.63,50.19,10.35,268.11,"3,807.28",332.43,40.38,787.16,300.15,...,497.17,182.13,"1,192.59",134.04,130.99,"2,462.63",802.19,"1,082.63","1,048.70","2,001.43"
IT,"4,991.96","7,458.91","1,044.26",141.32,"2,606.86","34,033.16","1,500.40",245.05,"13,536.06","1,331.99",...,"8,285.74","1,412.47","2,444.37","1,490.62",808.16,"17,347.72","10,265.03","3,230.20","20,171.51","27,073.72"
LT,3.17,3.84,7.11,0.26,9.44,34.92,7.86,28.46,6.76,9.27,...,4.89,1.44,32.47,1.57,0.73,29.82,4.95,70.62,5.84,15.32
LU,"1,176.91",722.68,132.75,44.62,755.74,"12,187.54",801.65,121.30,"1,705.88",482.21,...,"1,407.66",368.23,"1,185.86",377.30,505.42,"5,451.14","2,516.05",666.18,"3,351.82","10,832.19"
LV,6.83,8.57,1.81,1.06,10.36,84.03,17.56,24.88,9.18,27.00,...,71.46,3.94,33.64,4.09,1.56,60.61,11.12,24.40,14.56,35.80
MT,0.43,0.97,0.15,0.18,0.82,4.47,0.37,0.13,0.90,0.33,...,0.88,0.48,0.50,0.47,0.36,5.22,1.20,0.43,4.04,4.57
NL,"1,164.99","4,186.53",164.80,32.38,735.91,"16,188.78",685.37,78.20,"2,192.13",917.50,...,"1,959.09",466.86,"1,238.35",528.03,303.21,"6,169.37","2,876.93",750.94,"5,371.45","5,755.61"
PL,"1,463.27","1,379.78",309.89,134.04,"2,759.04","16,530.38",860.73,254.40,"1,635.37",643.32,...,"1,654.11",485.26,"1,779.45",261.67,188.74,"3,719.19","1,447.18","2,336.14","1,644.65","3,211.52"
PT,108.29,218.17,24.23,10.29,68.58,"1,376.08",66.87,12.26,"3,162.65",77.00,...,230.19,210.25,187.82,58.59,52.04,590.99,636.62,71.01,"3,793.20",845.51
RO,751.86,402.17,715.75,22.78,544.02,"5,783.70",184.19,39.67,717.96,180.15,...,"1,676.28","2,613.49",624.08,122.96,66.23,"1,569.35",837.40,823.06,"1,189.43","2,185.61"
SE,605.77,982.44,96.15,17.16,500.59,"7,448.45","1,654.28",204.21,953.75,"1,937.70",...,955.34,334.95,"4,121.10",530.05,285.69,"3,390.42","1,745.13",479.81,"1,508.25","4,358.04"
SI,"1,363.16",182.21,82.57,6.11,246.30,"3,547.18",99.17,19.15,349.13,78.02,...,241.73,57.81,120.41,39.42,28.42,558.76,336.23,841.65,484.23,"1,490.67"
SK,953.33,499.69,115.29,8.35,"1,408.61","4,642.88",160.09,25.56,458.01,116.69,...,538.73,117.67,222.37,48.14,38.81,764.04,321.00,364.14,372.40,"1,111.89"
GB,"1,547.65","3,464.36",484.14,116.81,"1,018.74","19,472.81","1,222.57",158.10,"6,766.99","1,154.74",...,"6,719.72","3,619.83","4,234.56","1,650.47",877.68,"32,371.75","7,784.11","1,050.22","9,956.36","35,670.52"
US,"4,118.32","12,258.34",780.68,209.72,"2,863.59","58,201.20","2,383.94",422.10,"11,079.88","2,803.54",...,"15,989.39","69,085.32","7,566.24","14,242.72","4,330.58","256,525.89","125,533.04","5,169.47","36,469.12","141,168.79"
JP,"5,487.78","12,101.61",939.92,335.35,"4,536.02","67,033.17","3,398.53",654.58,"13,668.35","3,288.51",...,"18,985.73","40,385.00","12,150.53","96,874.70","5,649.48","763,455.66","101,051.05","6,014.37","62,033.90","221,366.33"
CN,"25,576.78","60,575.02","6,435.20","2,251.07","22,535.83","324,927.00","18,510.31","3,567.61","85,814.08","20,155.92",...,"118,759.14","23,982.77","33,898.44","197,481.52","28,151.13","2,920,315.49","633,020.59","39,549.26","468,423.22","922,900.42"
CA,"1,646.07","3,775.29",193.41,70.60,801.96,"15,121.07",824.02,132.57,"3,316.66","1,309.77",...,"4,486.81","9,580.92","5,045.99","3,223.62","1,033.69","57,165.39","28,856.16","1,215.33","8,779.14","31,966.02"
KR,"4,346.80","11,399.88",810.73,348.57,"4,454.53","53,336.49","5,004.23",531.04,"14,241.21","2,582.46",...,"24,797.68","28,374.77","9,159.35","64,500.04","5,812.73","623,423.22","95,279.72","6,026.10","65,216.06","207,024.79"
BR,"3,174.53","9,929.08",393.26,207.76,"1,815.55","36,251.80","1,745.87",441.57,"10,352.49","2,014.01",...,"8,631.22","11,613.93","8,134.40","12,657.53","2,774.70","93,394.20","357,240.69","9,935.27","39,924.47","180,118.01"
IN,"6,789.97","17,558.12","2,329.06",822.24,"4,876.27","67,562.07","4,068.64",701.37,"24,048.28","3,965.22",...,"36,778.28","17,759.50","6,938.33","41,523.16","11,976.69","365,319.74","122,871.68","9,346.10","196,641.68","661,404.27"
MX,944.19,"3,864.72",157.61,56.77,678.47,"13,418.04",580.37,100.97,"3,372.62",610.79,...,"2,727.75","48,146.60","1,500.04","2,754.18",704.03,"41,681.13","89,535.59",820.76,"6,765.32","22,676.60"
RU,"4,734.05","16,938.85","5,171.07",399.43,"4,257.90","52,186.84","3,774.54","1,707.09","11,729.78","6,716.51",...,"40,509.64","15,153.17","4,755.91","9,820.29","2,482.08","156,057.31","25,409.90","44,568.05","25,887.50","141,214.36"
AU,"13,176.63","78,933.18","3,149.15","3,822.94","12,414.36","168,920.89","8,964.01","1,860.27","67,830.36","9,375.40",...,"99,199.09","245,516.34","18,268.94","117,787.76","27,307.42","1,324,705.94","197,691.51","27,613.85","234,492.39","418,403.51"
CH,"1,589.71","1,481.61",145.70,43.10,574.91,"16,279.23",379.30,85.15,"1,943.55",391.81,...,"10,599.17","2,150.37",688.70,"1,574.39",503.49,"38,042.80","4,129.28",848.15,"4,957.02","38,571.66"
TR,"1,975.69","8,659.47","2,105.97",176.10,"1,295.59","20,319.20","1,034.18",176.68,"7,163.02","1,016.07",...,"252,993.91","57,352.00","3,824.39","2,905.59","1,298.13","41,262.39","19,140.93","3,837.52","35,884.83","153,950.32"
TW,"9,493.20","27,849.83","3,154.60",842.90,"8,242.21","103,927.78","7,808.38","1,457.15","36,623.57","7,148.73",...,"49,575.75","723,207.50","12,423.56","112,638.94","17,735.94","824,753.69","288,411.15","17,258.16","232,687.77","442,974.67"
NO,"1,114.07","1,567.13",97.25,26.21,485.52,"10,394.94","1,921.34",129.51,"2,550.06","1,430.71",...,"1,504.31",428.71,"21,050.68",532.83,210.17,"5,935.17","1,869.44",562.14,"3,290.13","4,449.53"
ID,"4,383.43","10,703.59",590.00,335.56,"2,868.93","45,712.13","2,303.54",472.22,"11,808.03","5,036.36",...,"15,689.11","38,811.95","4,710.27","5,329,682.24","5,107.38","636,439.93","45,648.69","12,444.21","44,163.18","334,318.63"
ZA,"1,631.40","8,772.52",308.38,153.63,"1,985.99","30,218.97",847.67,261.55,"6,292.40","1,152.29",...,"6,731.75","4,324.84","2,658.29","5,316.82","731,764.48","49,419.12","17,322.96","1,767.03","145,602.35","43,621.14"
WA,"29,853.30","106,011.89","6,055.34","2,151.99","21,459.71","325,078.46","19,748.42","3,368.56","83,491.49","20,180.40",...,"136,041.00","341,003.78","52,356.82","664,205.06","58,954.14","5,392,696.34","301,718.62","52,014.64","286,557.66","717,751.62"
WL,"14,830.98","66,544.60","5,196.90","1,162.65","8,273.48","163,651.50","14,978.42","1,345.82","79,069.28","10,310.94",...,"52,831.89","664,023.43","30,014.11","42,829.14","27,149.43","441,535.56","6,123,248.23","617,040.18","138,043.39","311,785.90"
WE,"3,640.31","2,949.68","1,431.49",160.90,"2,222.40","24,742.94",918.07,277.18,"7,167.60",839.11,...,"6,643.38","1,327.44","1,591.64","1,263.91",492.07,"15,550.79","4,690.50","375,597.23","7,171.16","22,294.98"
WF,"7,533.93","19,762.25","1,246.45","1,419.24","3,839.62","55,543.69","3,560.31",676.29,"43,911.53","3,865.64",...,"23,661.98","96,224.71","7,956.52","11,512.02","24,914.85","74,301.36","24,919.13","12,691.28","3,238,303.69","188,427.53"
WM,"1,984.84","7,290.10",765.76,722.55,"1,336.76","17,390.72",901.62,166.12,"10,007.10","1,061.07",...,"30,871.19","4,323.03","1,916.36","10,701.40","4,335.13","101,195.67","18,687.82","2,957.98","50,046.34","397,059.88"

## Link Preg FDreg

$$E_{P, FDreg} = diag(d_{i}) \times L_{all, T} \times (Y_{T, reg} + A_{T,O} \times L'_{O,O} \times Y_{O, reg})$$

Important notes:

- `*` in **Matlab** = `@` in **Python** (Pandas / Numpy) = **dot product**
- `*` in **Python** = **element-wise multiplication**
- `A * diag(B)` in Matlab = `A @ diag(B)` = `A * B.T`
- `diag(A) * B` in Matlab = `diag(A) @ B` = `( A * B.T ).T`

In [53]:
# ! (matlab code lines 822-827)

# Compute  Lgt . ( Yrt + Ato.Loo.Yro )
Lt_dot_Yt_plus_AtoLooY_REG = L.loc[:, index_t] @ Yt_plus_AtoLooY_REG

# Compute  diag(di) .  Lall-t . ( Yrt + Ato.Loo.Yro )
E_P_FDreg = (d_i * Lt_dot_Yt_plus_AtoLooY_REG.T).T

# group sectors together (along the rows) and keep regions disaggregated
E_Preg_FDreg = E_P_FDreg.groupby("region", axis=0).sum()

# reorder rows and cols
E_Preg_FDreg = E_Preg_FDreg.loc[region_labels, region_labels]

# delete variables that are no longer used to save memory space
del Yt_plus_AtoLooY_REG, Lt_dot_Yt_plus_AtoLooY_REG, E_P_FDreg

# show results
E_Preg_FDreg

region,AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,...,TR,TW,NO,ID,ZA,WA,WL,WE,WF,WM
region,,,,,,,,,,,,,,,,,,,,,
AT,"6,028.75",100.42,16.98,7.09,56.28,646.46,31.03,4.04,166.46,28.22,...,157.95,50.55,48.44,124.89,47.65,841.80,262.05,56.54,485.88,"12,221.39"
BE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
BG,717.73,"2,487.22","10,000.09",29.92,442.70,"7,866.62",289.88,73.24,"1,097.87","1,764.49",...,"6,017.27","10,023.44",519.59,783.26,"8,147.21","12,402.50","2,139.69",754.41,"2,449.41","10,166.54"
CY,258.26,245.09,82.40,"15,742.95",206.71,445.22,185.53,111.89,318.24,232.52,...,448.35,322.94,335.06,236.69,194.82,471.13,443.50,277.31,426.74,"1,148.90"
CZ,645.24,294.78,93.33,6.26,"6,184.40","4,495.52",131.61,26.68,428.04,122.40,...,466.47,95.92,235.57,67.09,38.94,841.98,380.97,245.68,437.22,"1,066.65"
DE,484.62,438.93,81.04,8.77,319.80,"7,786.55",147.90,19.17,771.36,130.19,...,478.92,160.94,249.17,146.54,88.12,"1,319.27",638.16,161.11,873.00,"6,716.58"
DK,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
EE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ES,832.86,"3,615.19","8,183.35",41.94,536.91,"7,652.47",347.06,61.94,"19,680.70",330.94,...,"9,483.90","15,261.84",547.87,"1,271.54",341.96,"15,290.39","4,276.91","1,038.27","4,896.72","16,073.53"
FI,59.25,193.69,8.47,1.68,34.81,703.12,56.97,32.30,104.04,"2,837.15",...,112.99,122.26,179.02,65.07,19.08,575.26,211.91,46.70,191.38,463.91
FR,637.85,870.90,73.97,11.67,304.38,"5,364.51",192.14,28.48,"2,067.67",195.05,...,824.26,211.23,360.71,183.62,130.22,"2,219.27","1,095.82",212.74,"2,596.07","2,907.23"
GR,"6,858.63","6,814.69","3,107.26",810.01,"5,250.38","48,592.64","2,492.49",400.92,"19,110.98","1,967.29",...,"10,709.11","19,211.57","3,740.49","2,317.96","8,796.97","22,352.76","12,408.40","10,286.34","21,705.01","28,107.47"
HR,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
HU,573.38,202.22,129.19,9.17,"1,157.28","3,355.85",106.63,22.10,346.54,99.40,...,420.45,124.21,154.70,64.14,39.73,"1,524.37",483.80,302.51,421.79,"1,038.79"
IE,5.87,18.03,0.28,0.06,1.76,31.54,1.59,0.43,5.01,52.49,...,3.39,13.44,29.54,1.57,0.65,11.81,4.42,1.48,5.72,9.34
IT,557.17,"4,200.19",58.39,8.81,240.44,"3,986.42",79.68,15.14,"3,050.22",64.92,...,"1,630.41",129.74,153.36,173.52,66.77,"1,727.66",590.69,170.41,946.32,"1,784.85"
LT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
LU,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
LV,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
MT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NL,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
PL,838.15,765.00,177.67,49.68,"1,451.65","8,770.91",423.96,122.71,960.14,357.41,...,"1,055.83",352.68,911.22,191.42,114.70,"2,733.71",928.60,"1,100.94","1,092.74","2,309.59"
PT,51.69,102.80,18.89,4.41,29.63,527.91,35.39,7.36,823.39,135.23,...,113.33,164.18,126.64,41.21,17.42,322.11,255.52,36.81,541.85,354.17
RO,643.56,412.18,822.87,16.96,364.89,"3,913.66",128.04,30.84,506.31,137.32,...,"1,235.11","2,545.42",370.50,206.64,66.39,"3,036.38",721.55,521.42,922.33,"1,925.54"
SE,102.02,155.10,22.75,3.35,73.06,"1,186.44",145.32,19.49,190.15,345.93,...,359.14,63.47,401.20,81.67,40.46,680.49,318.41,67.43,375.52,"1,717.63"
SI,238.06,43.12,17.65,1.50,77.14,626.89,19.60,4.98,62.93,16.55,...,60.44,13.89,25.23,10.22,6.14,141.81,65.86,195.76,90.46,194.21
SK,43.41,477.33,6.36,1.85,61.35,589.39,15.74,3.82,57.99,15.14,...,110.70,27.01,30.49,23.42,14.39,417.00,99.65,25.93,133.70,"1,006.79"
GB,25.11,74.72,37.30,3.59,18.38,539.41,42.36,4.56,203.92,55.95,...,86.14,225.94,497.75,23.89,23.26,405.00,576.04,35.30,261.11,"3,492.17"
US,"3,583.90","8,088.81",669.46,155.24,"2,197.81","38,564.32","1,618.21",285.52,"13,031.64","2,727.31",...,"12,481.96","56,908.04","4,429.22","12,666.67","3,093.95","176,959.00","50,634.93","3,433.96","27,439.12","81,858.27"
JP,21.25,53.33,3.82,1.15,15.59,249.36,13.08,2.28,51.04,11.99,...,61.95,112.16,26.46,195.58,25.72,"3,637.72",247.17,22.29,153.17,497.58
CN,"3,310.94","8,143.85",825.80,264.88,"2,808.59","40,586.37","2,325.89",427.50,"11,137.41","2,394.33",...,"15,346.55","4,044.38","4,377.90","26,221.68","3,601.13","334,919.51","78,768.43","5,098.39","55,582.74","112,747.27"
CA,"1,603.43","4,231.65",359.82,66.35,965.43,"16,731.98",955.39,142.25,"4,843.23","2,087.29",...,"4,893.45","10,872.05","5,250.75","4,751.20","1,396.76","44,184.14","20,780.51","1,253.63","9,894.40","25,908.77"
KR,21.85,75.82,5.15,2.01,24.41,282.18,26.62,3.04,73.04,13.59,...,143.23,994.04,52.96,302.89,28.78,"2,213.45",582.58,35.74,367.65,"1,002.35"
BR,"10,518.70","22,008.14","3,217.34",692.61,"6,733.52","109,463.86","5,935.16","1,019.45","32,571.99","7,039.09",...,"37,163.57","48,282.49","20,329.71","42,736.33","7,197.94","324,000.96","395,482.57","19,337.49","104,390.33","334,182.05"
IN,"2,954.51","7,213.57","1,151.69",344.92,"2,089.20","28,177.59","1,681.95",291.19,"10,181.71","1,630.97",...,"16,509.15","10,676.35","3,160.65","19,323.82","4,610.45","148,390.42","49,695.61","4,369.65","74,695.04","214,363.30"
MX,"2,240.33","6,540.73",379.92,111.85,"1,449.56","26,408.99","1,110.27",198.33,"7,229.93","1,181.81",...,"7,868.12","52,139.50","2,686.72","11,942.48","1,703.28","120,594.64","96,637.47","1,990.08","16,552.11","50,881.32"
RU,"5,550.64","15,921.15","3,736.86",405.22,"5,145.89","55,963.27","3,397.03","1,364.08","12,453.18","7,053.35",...,"41,379.79","19,193.24","5,736.93","14,145.90","2,858.72","174,950.33","31,384.75","34,035.57","32,860.66","141,121.40"
AU,"30,481.96","115,745.83","7,836.04","4,985.08","25,166.89","340,289.07","19,242.89","3,488.22","120,279.46","18,925.58",...,"172,967.80","485,603.82","42,294.52","283,532.65","44,573.03","2,408,465.99","505,633.30","48,103.55","479,970.95","977,518.45"
CH,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
TR,"3,633.70","11,216.26","3,372.10",232.17,"2,288.27","31,203.22","1,542.63",268.14,"12,663.70","2,527.99",...,"188,873.57","64,752.57","5,096.13","8,648.73","1,874.86","102,306.65","24,523.73","5,489.79","32,294.63","123,972.98"
TW,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
NO,12.90,55.89,2.48,0.90,7.98,191.56,78.03,4.54,33.79,21.24,...,55.78,12.24,"1,052.66",11.39,5.70,155.14,43.61,32.37,100.69,344.63
ID,"16,591.14","37,638.95","4,328.70","1,364.46","11,680.46","159,628.52","9,641.67","1,686.65","54,305.62","13,284.15",...,"79,778.62","151,479.26","26,427.52","5,424,935.54","23,488.90","1,522,716.17","231,500.14","29,614.90","254,495.05","935,486.61"
ZA,"4,160.38","26,933.77",924.40,326.49,"3,776.36","54,522.41","2,554.02",546.96,"14,430.24","7,519.46",...,"15,738.14","30,922.27","5,867.58","18,119.32","719,868.46","131,470.26","40,159.93","4,784.96","183,690.61","118,160.14"
WA,"54,570.45","159,600.45","15,822.47","3,859.96","41,490.22","587,674.17","35,353.18","6,391.80","156,543.18","39,305.84",...,"238,206.03","668,149.32","73,877.12","698,694.50","78,900.24","6,752,034.93","792,211.52","93,437.26","662,062.47","1,446,460.19"
WL,"51,510.23","137,722.00","23,485.59","2,371.12","29,194.65","495,364.62","30,878.57","3,955.08","190,091.82","35,952.67",...,"162,833.90","735,902.02","59,629.89","156,134.88","43,925.34","1,803,076.64","6,305,360.15","737,603.10","327,584.18","848,874.74"
WE,"1,247.35","1,333.78","4,878.73",105.93,"1,087.71","8,978.67",437.09,135.73,"1,959.06",421.16,...,"7,284.37","3,436.07",806.47,"1,979.67",404.33,"16,954.70","5,326.90","250,722.87","6,540.44","15,725.14"
WF,"14,326.97","35,767.05","4,124.27","1,607.92","7,774.61","122,010.69","6,039.75","1,111.72","69,247.95","6,831.21",...,"44,442.72","109,695.07","14,551.95","26,191.58","29,951.30","281,211.95","59,471.19","24,919.28","3,160,547.54","280,718.62"
WM,659.48,"2,877.02",273.07,253.84,550.05,"6,149.08",349.80,63.93,"3,510.02",414.55,...,"6,073.88","2,701.24",632.30,"3,739.17","1,415.53","30,216.81","6,061.43","1,257.07","14,641.93","123,639.83"

## Link Tsec Psec

In [54]:
# ! (matlab code lines 829-836)

# group E_P_T regions together (along rows + columns) and keep sectors disaggregated
E_Psec_Tsec = E_P_T.groupby("sector", axis=0).sum().groupby("sector", axis=1).sum()

# reorder cols/rows and transpose
E_Psec_Tsec = E_Psec_Tsec.loc[sector_labels, sector_labels]
E_Tsec_Psec = E_Psec_Tsec.T

# delete variables that are no longer used to save memory space
del E_Psec_Tsec

# show result
E_Tsec_Psec

sector,Cultivation of paddy rice,Cultivation of wheat,Cultivation of cereal grains nec,"Cultivation of vegetables, fruit, nuts",Cultivation of oil seeds,"Cultivation of sugar cane, sugar beet",Cultivation of plant-based fibers,Cultivation of crops nec,Cattle farming,Pigs farming,...,Landfill of waste: Paper,Landfill of waste: Plastic,Landfill of waste: Inert/metal/hazardous,Landfill of waste: Textiles,Landfill of waste: Wood,Activities of membership organisation n.e.c. (91),"Recreational, cultural and sporting activities (92)",Other service activities (93),Private households with employed persons (95),Extra-territorial organizations and bodies
sector,,,,,,,,,,,,,,,,,,,,,
Cultivation of paddy rice,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of wheat,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of cereal grains nec,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Cultivation of vegetables, fruit, nuts",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of oil seeds,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Activities of membership organisation n.e.c. (91),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Recreational, cultural and sporting activities (92)",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other service activities (93),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Private households with employed persons (95),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Extra-territorial organizations and bodies,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## Link Psec Preg

In [55]:
# ! (matlab code lines 838-840)

# sum the columns of E_P_T and reshape the vector into 163 x 49
E_Psec_Preg = E_P_T.sum(axis=1).unstack(level=0)

# reorder cols/rows
E_Psec_Preg = E_Psec_Preg.loc[sector_labels, region_labels]

# show result
E_Psec_Preg

region,AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,...,TR,TW,NO,ID,ZA,WA,WL,WE,WF,WM
sector,,,,,,,,,,,,,,,,,,,,,
Cultivation of paddy rice,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of wheat,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of cereal grains nec,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Cultivation of vegetables, fruit, nuts",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of oil seeds,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Activities of membership organisation n.e.c. (91),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Recreational, cultural and sporting activities (92)",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other service activities (93),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Private households with employed persons (95),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Extra-territorial organizations and bodies,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## link FDreg FSsec

$$
\begin{align}
    E_{FS, FDreg} &= diag\biggl(d_{i} \times L_{all, T}\biggr) \times Y_{T, reg}\\
    &+ diag\biggl(d_{i} \times L_{all, T} \times A_{T,O} \times L'_{O,O}\biggr) \times Y_{O, reg}\\
\end{align}
$$

Important notes:

- `*` in **Matlab** = `@` in **Python** (Pandas / Numpy) = **dot product**
- `*` in **Python** = **element-wise multiplication**
- `A * diag(B)` in Matlab = `A @ diag(B)` = `A * B.T`
- `diag(A) * B` in Matlab = `diag(A) @ B` = `( A * B.T ).T`

In [56]:
# ! (matlab code lines 842-854)

# Compute diag(di . Lall-t) . Yrt
E_FS_FDreg_t = (dLt * Y_region.loc[index_t, :].T).T

# reorder cols/rows
E_FS_FDreg_t = E_FS_FDreg_t.loc[index_t, region_labels]

# Compute diag(di . Lt . Ato . Loo)  .  Yro
E_FS_FDreg_o = ((dLt @ AtoLoo) * Y_region.loc[index_o, :].T).T

# reorder cols/rows
E_FS_FDreg_o = E_FS_FDreg_o.loc[index_o, region_labels]

# join both matrices to get the full E_FS_FDreg
E_FS_FDreg = pd.concat([E_FS_FDreg_t, E_FS_FDreg_o], axis=0)

# reorder cols/rows
E_FS_FDreg = E_FS_FDreg.loc[region_and_sector_labels, region_labels]

# group regions together (along rows) and keep sectors disaggregated
E_FSsec_FDreg = E_FS_FDreg.groupby("sector", axis=0).sum()

# reorder cols/rows and transpose
E_FSsec_FDreg = E_FSsec_FDreg.loc[sector_labels, region_labels]
E_FDreg_FSsec = E_FSsec_FDreg.T

# save space by removing variables that are not used anymore
# del E_FS_FDreg_t, E_FS_FDreg_o, E_FSsec_FDreg, E_FS_FDreg

# show result
E_FDreg_FSsec

sector,Cultivation of paddy rice,Cultivation of wheat,Cultivation of cereal grains nec,"Cultivation of vegetables, fruit, nuts",Cultivation of oil seeds,"Cultivation of sugar cane, sugar beet",Cultivation of plant-based fibers,Cultivation of crops nec,Cattle farming,Pigs farming,...,Landfill of waste: Paper,Landfill of waste: Plastic,Landfill of waste: Inert/metal/hazardous,Landfill of waste: Textiles,Landfill of waste: Wood,Activities of membership organisation n.e.c. (91),"Recreational, cultural and sporting activities (92)",Other service activities (93),Private households with employed persons (95),Extra-territorial organizations and bodies
region,,,,,,,,,,,,,,,,,,,,,
AT,1.41,74.65,179.44,932.63,114.64,2.01,14.20,19.91,134.83,135.37,...,10.68,4.45,11.88,10.54,40.82,"1,426.36","1,610.69",768.01,4.51,0.00
BE,46.95,277.46,56.72,"1,476.04",68.56,8.08,89.52,"1,225.74",177.43,147.08,...,30.05,15.30,33.88,14.83,17.38,426.61,"3,763.16","3,451.55",19.22,0.00
BG,4.36,30.69,42.35,254.47,128.62,0.80,9.08,305.41,6.63,4.64,...,11.97,3.05,11.39,2.22,3.01,35.91,"1,097.02",114.51,0.92,0.00
CY,0.82,8.73,6.21,46.23,2.64,0.55,1.73,28.44,2.78,3.44,...,4.54,4.86,4.22,4.79,5.02,73.69,325.92,82.00,1.46,0.00
CZ,5.16,357.23,123.79,601.98,137.64,3.45,29.68,226.31,20.27,84.79,...,108.79,12.57,74.33,22.16,28.34,505.77,"2,056.26",418.79,1.95,0.00
DE,185.75,"1,365.09",630.96,"7,975.66",626.69,49.20,220.36,"4,582.34",407.64,563.40,...,627.80,181.34,834.82,115.47,193.60,"5,996.04","10,561.85","5,112.93",28.87,0.00
DK,3.76,535.20,221.41,383.67,75.60,1.67,8.19,107.50,53.85,73.72,...,10.52,8.06,49.09,5.90,8.02,751.72,"2,283.97",454.95,2.83,0.00
EE,3.11,6.00,21.50,76.63,2.44,0.95,8.02,148.56,16.87,20.71,...,3.90,2.10,2.56,1.11,1.38,26.85,139.29,78.02,1.47,0.00
ES,96.75,"1,114.93",117.18,"5,184.96",64.63,14.42,43.30,"1,541.90",421.73,768.97,...,365.16,98.78,555.52,81.53,115.37,"2,860.10","11,658.55","4,760.67","2,179.89",0.00
FI,7.79,216.10,110.79,513.27,20.07,1.61,4.78,323.83,129.92,33.32,...,9.71,7.90,"1,217.56",4.69,7.90,"1,120.65","2,029.71",743.20,3.15,0.00
FR,53.74,"1,381.10",196.79,"10,365.76",478.26,143.83,279.34,"1,362.41",859.95,404.50,...,169.53,76.32,407.86,61.96,105.81,"3,647.74","24,602.04","1,978.33","2,183.20",0.00
GR,11.09,216.95,36.71,949.92,127.84,2.06,26.80,357.44,71.56,34.39,...,155.27,5.54,243.79,29.73,37.04,"10,987.61","6,614.23",993.91,3.33,0.00
HR,1.77,20.27,2.60,642.75,141.97,0.45,53.66,32.10,39.44,12.33,...,10.32,1.07,33.12,1.05,1.23,667.59,921.99,208.85,1.24,0.00
HU,3.09,102.27,14.76,228.68,13.66,1.07,9.86,186.55,13.93,112.62,...,647.62,54.82,191.25,94.64,132.19,400.98,"1,078.35",604.62,1.90,0.00
IE,10.33,127.30,41.40,487.71,20.74,1.37,10.23,424.44,87.89,28.82,...,"1,211.33",205.65,361.70,239.72,374.63,"1,155.68",246.43,471.23,"1,727.69",0.00
IT,90.62,"1,058.76",158.37,"10,525.56",226.63,6.58,28.84,"1,305.28",719.23,168.65,...,763.47,48.24,162.31,34.87,70.66,"3,287.95","8,492.04","6,084.72",20.84,0.00
LT,1.06,25.64,119.10,366.55,139.05,1.04,1.87,20.72,30.90,60.72,...,5.85,2.37,19.86,2.16,2.45,10.85,128.75,45.97,0.74,0.00
LU,15.91,89.11,19.69,470.86,36.02,2.62,44.66,325.17,92.56,8.20,...,19.01,12.97,18.59,7.73,10.12,82.02,"1,046.32",215.27,3.13,0.00
LV,1.07,48.16,19.47,51.98,121.95,0.49,13.35,157.65,2.44,2.09,...,8.77,2.52,8.37,2.81,3.53,5.49,114.03,43.62,0.31,0.00
MT,0.21,18.03,9.33,25.73,0.27,0.10,0.51,27.12,1.62,4.28,...,10.73,1.61,4.31,2.24,2.99,102.32,448.09,"1,133.77",0.21,0.00
NL,46.51,305.62,446.66,"2,036.69",53.42,21.12,107.83,"1,486.46",116.82,307.66,...,57.47,36.59,271.43,21.80,32.28,"3,177.78","7,990.17","6,079.28",244.58,0.00
PL,27.51,284.45,883.27,842.09,540.00,14.13,19.20,"1,779.73",62.03,226.34,...,132.15,41.89,304.45,20.17,33.16,406.45,"1,847.56",908.37,124.18,0.00
PT,18.42,7.18,60.72,767.92,4.94,1.96,4.22,135.85,114.15,53.08,...,31.77,9.64,54.80,9.07,10.93,727.92,"1,529.86",915.65,5.21,0.00
RO,2.10,25.28,37.23,341.26,3.28,1.65,3.84,192.90,16.48,44.11,...,18.79,7.88,22.86,10.07,16.91,3.16,28.67,3.72,1.30,0.00
SE,7.94,295.31,70.11,988.76,96.84,1.46,7.71,490.73,36.37,84.01,...,10.51,5.67,11.92,5.51,6.86,"2,694.42","2,326.51",946.28,6.27,0.00
SI,3.08,39.89,81.91,308.92,5.14,0.25,8.90,72.38,32.18,20.08,...,7.99,2.95,26.33,4.81,2.98,143.54,402.28,136.92,0.86,0.00
SK,9.59,59.90,119.80,364.60,60.59,0.37,3.83,232.58,4.69,15.20,...,14.53,3.39,107.17,4.94,5.84,378.44,649.04,105.02,1.76,0.00
GB,100.78,"2,433.52",913.87,"8,354.68",610.72,251.91,429.00,"3,540.04","2,160.59",965.83,...,727.15,346.53,608.67,126.88,217.99,"2,542.61","20,105.32","6,003.76","23,525.35",0.00
US,279.81,547.77,619.26,"20,551.32",249.20,83.61,730.41,"1,220.19",486.76,131.25,...,"1,541.02","1,417.34","2,318.91",452.28,605.37,"47,062.52","88,976.22","144,803.02","34,035.76",0.00
JP,194.61,129.70,111.58,"16,757.29",75.42,34.40,240.40,"4,658.08",101.27,41.09,...,313.20,208.90,342.88,102.30,139.01,12.10,"25,866.30","55,558.21","84,222.72",0.00
CN,"3,540.28","13,816.94","23,357.19","68,946.09","5,180.79","1,662.02",553.83,"2,454.90","22,416.73","24,493.98",...,182.59,114.34,216.96,97.45,137.95,"109,045.18","132,980.01","289,312.20","71,805.50",0.00
CA,37.19,300.83,190.27,"3,099.16",411.00,6.57,54.13,"1,509.44",350.78,139.25,...,80.73,40.26,97.56,21.40,26.76,"7,971.21","12,393.28","6,483.79",17.19,0.00
KR,113.89,61.03,69.54,"10,981.68",55.22,9.23,101.98,"1,527.54",457.74,8.97,...,71.96,51.07,85.65,28.85,39.10,"7,722.92","5,542.37","36,264.06","8,869.71",0.00
BR,315.99,44.64,"3,880.70","1,245.78","1,143.52",236.23,787.67,"12,167.14","4,494.98",268.03,...,"2,628.67","2,086.53","2,158.74",821.14,998.41,"9,471.80",984.47,183.16,14.57,0.00
IN,"50,438.27","34,649.26","8,296.60","18,545.11","3,072.91",963.11,329.18,"17,394.89",43.89,19.12,...,141.67,72.44,144.24,50.02,70.34,405.28,"1,733.85",934.60,"4,054.47",0.00
MX,19.77,337.37,"2,505.27","2,639.51",147.14,3.96,141.55,529.43,110.15,76.72,...,44.28,31.79,44.32,14.50,19.19,"1,017.13","6,937.61","3,948.88",8.60,0.00
RU,111.02,311.65,221.24,"28,726.96",85.37,33.08,128.17,"6,958.73",489.43,804.25,...,"3,056.27","3,185.99","2,519.45","1,038.53","1,340.65",997.27,"9,781.96",28.92,12.87,0.00
AU,131.43,"1,772.01","1,665.41","13,173.02",176.97,76.40,518.42,"1,788.57",972.46,61.64,...,352.41,173.29,338.16,78.52,109.32,"7,663.73","53,625.80","19,416.79",17.48,0.00
CH,10.00,15.79,15.24,"1,405.64",8.35,1.91,273.22,326.48,11.61,4.89,...,13.36,12.56,15.14,11.16,13.39,"1,904.38","2,728.72",985.23,10.73,0.00
TR,41.25,57.96,106.15,"1,056.03",30.34,11.00,"1,858.72","1,538.31",239.25,5.79,...,61.91,31.30,53.96,16.09,21.50,"9,227.99","5,802.53","2,075.56",5.31,0.00
TW,168.90,279.79,187.08,"7,550.03",50.55,12.61,84.94,"1,992.59",46.13,136.73,...,66.64,45.06,79.34,41.55,48.70,"2,813.46","7,218.68","33,718.82",6.46,0.00
NO,5.24,11.83,12.63,"1,788.98",9.37,1.33,8.11,510.38,11.16,5.73,...,8.76,4.57,13.40,4.56,6.00,"1,586.26","6,832.61",748.19,10.29,0.00
ID,589.71,44.22,"4,440.47","1,411.91",28.92,29.27,926.71,228.21,28.88,13.95,...,256.80,124.38,270.61,51.65,74.87,614.16,"42,372.12","46,116.84","17,549.47",0.00
ZA,30.74,54.19,168.19,"19,447.08",37.60,11.07,195.09,"2,289.30",12.43,5.82,...,20.75,14.83,24.47,13.95,19.46,38.62,"2,855.35","6,455.37","5,008.54",0.00
WA,"7,577.66","5,996.33","5,527.14","43,780.69","2,572.60",560.89,"11,546.80","12,818.68","1,355.70","1,989.27",...,"37,700.38","26,899.53","31,528.73","6,454.97","10,596.55","22,153.54","60,830.28","115,477.34","1,494.85",0.00
WL,"2,228.87","2,735.91","3,641.73","29,154.63","1,243.51",250.63,812.66,"10,079.53","2,767.03",499.60,...,"2,807.03","1,037.06","3,261.99",405.98,525.87,"20,780.34","52,080.23","36,742.97","1,552.85",0.00
WE,138.85,137.86,424.00,"4,870.93",85.73,45.58,72.04,"1,823.72",208.62,65.38,...,156.39,83.02,133.73,77.99,74.58,"1,353.37","3,328.19","4,208.70",108.72,0.00
WF,"1,748.87","4,033.09","2,733.77","27,101.09","2,605.25","1,039.66","8,017.19","6,729.63","4,885.43","1,723.08",...,"15,493.63","12,066.68","14,653.49","9,399.37","11,644.62","49,493.73","66,660.11","58,846.90","1,876.48",0.00
WM,"1,001.87","1,742.91","1,666.40","5,621.37",580.87,136.29,694.50,"5,586.24","1,603.12",505.05,...,"2,312.55","1,119.66","2,043.28",373.33,511.05,"6,066.45","29,793.03","32,217.49",247.68,0.00

## Link Tsec Treg

In [57]:
# ! (matlab code lines 870-872)

# sum the rows of E_P_T and reshape the vector into 163 x 49
E_Tsec_Treg = E_P_T.sum(axis=0).unstack(level=0)

# reorder cols/rows
E_Tsec_Treg = E_Tsec_Treg.loc[sector_labels, region_labels]

# show result
E_Tsec_Treg

region,AT,BE,BG,CY,CZ,DE,DK,EE,ES,FI,...,TR,TW,NO,ID,ZA,WA,WL,WE,WF,WM
sector,,,,,,,,,,,,,,,,,,,,,
Cultivation of paddy rice,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of wheat,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of cereal grains nec,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Cultivation of vegetables, fruit, nuts",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of oil seeds,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Activities of membership organisation n.e.c. (91),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Recreational, cultural and sporting activities (92)",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other service activities (93),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Private households with employed persons (95),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Extra-territorial organizations and bodies,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## link Preg vs FSsec

This section is extra compared to the Nickel analysis

$$
\begin{align}
    E_{P, FS} &= diag\biggl(d_{i}\biggr)  \times L_{all, T}\times diag\biggl(Y_{all, T} \biggr)\\
    &+ diag\biggl(d_{i}\biggr) \times L_{all, T} \times A_{T,O} \times L'_{O,O} \times  diag\biggl(Y_{all, O} \biggr)\\
\end{align}
$$

Important notes:

- `*` in **Matlab** = `@` in **Python** (Pandas / Numpy) = **dot product**
- `*` in **Python** = **element-wise multiplication**
- `A * diag(B)` in Matlab = `A @ diag(B)` = `A * B.T`
- `diag(A) * B` in Matlab = `diag(A) @ B` = `( A * B.T ).T`

In [58]:
# ! (matlab code lines 857-869)

# Compute L . diag(Yt)
diagLt_Yt = L.loc[:, index_t] * Y_global.loc[index_t].T

# Compute diag(di) . L . diag(Yt)
E_P_FS_t = (d_i * diagLt_Yt.T).T

# Compute  (L Ato Loo) . diag(Yo)
LtAtoLoo_diagYo = (L.loc[:, index_t] @ AtoLoo) * Y_global.loc[index_o].T

# Compute diag(di) . (L Ato Loo) . diag(Yo)
E_P_FS_o = (d_i * LtAtoLoo_diagYo.T).T

# join both matrices to get full E_FS_FDreg
E_P_FS = pd.concat([E_P_FS_t, E_P_FS_o], axis=1)

# reorder cols/rows
E_P_FS = E_P_FS.loc[region_and_sector_labels, region_labels]

# group E_P_FS regions together (along rows + columns) and keep sectors disaggregated
E_Psec_FSsec = E_P_FS.groupby("sector", axis=0).sum().groupby("sector", axis=1).sum()

# reorder cols/rows
E_Psec_FSsec = E_Psec_FSsec.loc[sector_labels, sector_labels]

# save space by removing variables that are not used anymore
# del diagLt_Yt, LtAtoLoo_diagYo, E_P_FS_t, E_P_FS_o, E_P_FS

# show result
E_Psec_FSsec

sector,Cultivation of paddy rice,Cultivation of wheat,Cultivation of cereal grains nec,"Cultivation of vegetables, fruit, nuts",Cultivation of oil seeds,"Cultivation of sugar cane, sugar beet",Cultivation of plant-based fibers,Cultivation of crops nec,Cattle farming,Pigs farming,...,Landfill of waste: Paper,Landfill of waste: Plastic,Landfill of waste: Inert/metal/hazardous,Landfill of waste: Textiles,Landfill of waste: Wood,Activities of membership organisation n.e.c. (91),"Recreational, cultural and sporting activities (92)",Other service activities (93),Private households with employed persons (95),Extra-territorial organizations and bodies
sector,,,,,,,,,,,,,,,,,,,,,
Cultivation of paddy rice,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of wheat,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of cereal grains nec,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Cultivation of vegetables, fruit, nuts",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Cultivation of oil seeds,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Activities of membership organisation n.e.c. (91),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
"Recreational, cultural and sporting activities (92)",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other service activities (93),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Private households with employed persons (95),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Extra-territorial organizations and bodies,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Sankeys preparation

## Preg

In [59]:
# ! (matlab code lines 932-944)

agg_regions = {
    "Australia": region_labels == "AU",
    # "Belgium": region_labels == "BE",
    "Brazil": region_labels == "BR",
    # "Bulgaria": region_labels == "BG",
    # "Canada": region_labels == "CA",
    "China": region_labels == "CN",
    # "Germany": region_labels == "DE",
    # "India": region_labels == "IN",
    "Indonesia": region_labels == "ID",
    "Japan": region_labels == "JP",
    # "Mexico": region_labels == "MX",
    "Netherlands": region_labels == "NL",
    # "Poland": region_labels == "PL",
    # "South Korea": region_labels == "KR",
    # "Russia": region_labels == "RU",
    # "Spain": region_labels == "ES",
    # "USA": region_labels == "US",
    # "RoW Asia Pacific": (region_labels == "WA") | (region_labels == "TW"),
    # "RoW America": region_labels == "WL",
    # "RoW Africa": (region_labels == "WF") | (region_labels == "ZA"),
    # "RoW Middle East": region_labels == "WM",
}
# agg_regions["RoW Europe"] = ~reduce(np.logical_or, list(agg_regions.values()))
agg_regions["other"] = ~reduce(np.logical_or, list(agg_regions.values()))

Agg_Preg = pd.DataFrame(index=region_labels, columns=agg_regions.keys())
for regions in Agg_Preg.columns:
    Agg_Preg.loc[:, regions] = agg_regions[regions].astype(int)

if sum(sum(agg_regions.values())) != len(region_labels):
    print("Warning: some regions are missing in the aggregation matrix")

Agg_Preg

       Australia Brazil China Indonesia Japan Netherlands other
region
AT             0      0     0         0     0           0     1
BE             0      0     0         0     0           0     1
BG             0      0     0         0     0           0     1
CY             0      0     0         0     0           0     1
CZ             0      0     0         0     0           0     1
DE             0      0     0         0     0           0     1
DK             0      0     0         0     0           0     1
EE             0      0     0         0     0           0     1
ES             0      0     0         0     0           0     1
FI             0      0     0         0     0           0     1
FR             0      0     0         0     0           0     1
GR             0      0     0         0     0           0     1
HR             0      0     0         0     0           0     1
HU             0      0     0         0     0           0     1
IE             0      0     0         0     0           0     1
IT             0      0     0         0     0           0     1
LT             0      0     0         0     0           0     1
LU             0      0     0         0     0           0     1
LV             0      0     0         0     0           0     1
MT             0      0     0         0     0           0     1
NL             0      0     0         0     0           1     0
PL             0      0     0         0     0           0     1
PT             0      0     0         0     0           0     1
RO             0      0     0         0     0           0     1
SE             0      0     0         0     0           0     1
SI             0      0     0         0     0           0     1
SK             0      0     0         0     0           0     1
GB             0      0     0         0     0           0     1
US             0      0     0         0     0           0     1
JP             0      0     0         0     1           0     0
CN             0      0     1         0     0           0     0
CA             0      0     0         0     0           0     1
KR             0      0     0         0     0           0     1
BR             0      1     0         0     0           0     0
IN             0      0     0         0     0           0     1
MX             0      0     0         0     0           0     1
RU             0      0     0         0     0           0     1
AU             1      0     0         0     0           0     0
CH             0      0     0         0     0           0     1
TR             0      0     0         0     0           0     1
TW             0      0     0         0     0           0     1
NO             0      0     0         0     0           0     1
ID             0      0     0         1     0           0     0
ZA             0      0     0         0     0           0     1
WA             0      0     0         0     0           0     1
WL             0      0     0         0     0           0     1
WE             0      0     0         0     0           0     1
WF             0      0     0         0     0           0     1
WM             0      0     0         0     0           0     1

## FSsec

In [60]:
# ! (matlab code lines 947-963)

agg_sectors = {
    "agrifood": sector_labels[np.r_[0:19, 34:46]],
    "mining": sector_labels[19:34],
    "manufacturing": sector_labels[np.r_[46:85, 92]],
    "machinery_electronics": sector_labels[85:90],
    "auto": sector_labels[90:92],
    "electricity": sector_labels[95:109],
    "gas_water": sector_labels[109:112],
    "construction": sector_labels[112:114],
    "service": sector_labels[np.r_[114:119, 125:138]],
    "transportation": sector_labels[119:125],
    "waste": sector_labels[np.r_[93:95, 138:158]],
    "other_sec": sector_labels[158:],
}

Agg_FSsec = pd.DataFrame(index=sector_labels, columns=agg_sectors.keys())
for sectors in Agg_FSsec.columns:
    Agg_FSsec.loc[:, sectors] = sector_labels.isin(agg_sectors[sectors]).astype(int)

if sum(len(sec) for sec in agg_sectors.values()) != len(sector_labels):
    print("Warning: some sectors are missing in the aggregation matrix")

Agg_FSsec

,agrifood,mining,manufacturing,machinery_electronics,auto,electricity,gas_water,construction,service,transportation,waste,other_sec
sector,,,,,,,,,,,,
Cultivation of paddy rice,1,0,0,0,0,0,0,0,0,0,0,0
Cultivation of wheat,1,0,0,0,0,0,0,0,0,0,0,0
Cultivation of cereal grains nec,1,0,0,0,0,0,0,0,0,0,0,0
"Cultivation of vegetables, fruit, nuts",1,0,0,0,0,0,0,0,0,0,0,0
Cultivation of oil seeds,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Activities of membership organisation n.e.c. (91),0,0,0,0,0,0,0,0,0,0,0,1
"Recreational, cultural and sporting activities (92)",0,0,0,0,0,0,0,0,0,0,0,1
Other service activities (93),0,0,0,0,0,0,0,0,0,0,0,1
Private households with employed persons (95),0,0,0,0,0,0,0,0,0,0,0,1
Extra-territorial organizations and bodies,0,0,0,0,0,0,0,0,0,0,0,1

## Psec

In [61]:
# ! (matlab code lines 886-906)

agg_production = {
    "coal": sector_labels[[19]],
    "nickel": sector_labels[[26]],
    "iron": sector_labels[np.r_[24, 71, 72]],
    "copper": sector_labels[np.r_[25, 79, 80]],
    "aluminium": sector_labels[np.r_[27, 75, 76]],
    "precious_metals": sector_labels[np.r_[28, 73, 74]],
}
all_metals = sector_labels[np.r_[23:31, 70:83]]
primary_metals = (
    set(agg_production["nickel"])
    | set(agg_production["iron"])
    | set(agg_production["copper"])
    | set(agg_production["aluminium"])
    | set(agg_production["precious_metals"])
)
agg_production["other_metals"] = all_metals.difference(primary_metals)
agg_production["non_mining"] = sector_labels.difference(
    set(all_metals) | set(agg_production["coal"])
)

Agg_Psec = pd.DataFrame(index=sector_labels, columns=agg_production.keys())
for sectors in Agg_Psec.columns:
    Agg_Psec.loc[:, sectors] = sector_labels.isin(agg_production[sectors]).astype(int)

# Show
Agg_Psec

,coal,nickel,iron,copper,aluminium,precious_metals,other_metals,non_mining
sector,,,,,,,,
Cultivation of paddy rice,0,0,0,0,0,0,0,1
Cultivation of wheat,0,0,0,0,0,0,0,1
Cultivation of cereal grains nec,0,0,0,0,0,0,0,1
"Cultivation of vegetables, fruit, nuts",0,0,0,0,0,0,0,1
Cultivation of oil seeds,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
Activities of membership organisation n.e.c. (91),0,0,0,0,0,0,0,1
"Recreational, cultural and sporting activities (92)",0,0,0,0,0,0,0,1
Other service activities (93),0,0,0,0,0,0,0,1
Private households with employed persons (95),0,0,0,0,0,0,0,1
Extra-territorial organizations and bodies,0,0,0,0,0,0,0,1

## Tsec

In [62]:
# ! (matlab code lines 908-914)

# Remove the "coal" and "non_mining" columns to get Agg_Tsec
Agg_Tsec = Agg_Psec[["nickel", "iron", "copper", "aluminium", "precious_metals", "other_metals"]]
Agg_Tsec

,nickel,iron,copper,aluminium,precious_metals,other_metals
sector,,,,,,
Cultivation of paddy rice,0,0,0,0,0,0
Cultivation of wheat,0,0,0,0,0,0
Cultivation of cereal grains nec,0,0,0,0,0,0
"Cultivation of vegetables, fruit, nuts",0,0,0,0,0,0
Cultivation of oil seeds,0,0,0,0,0,0
...,...,...,...,...,...,...
Activities of membership organisation n.e.c. (91),0,0,0,0,0,0
"Recreational, cultural and sporting activities (92)",0,0,0,0,0,0
Other service activities (93),0,0,0,0,0,0
Private households with employed persons (95),0,0,0,0,0,0
Extra-territorial organizations and bodies,0,0,0,0,0,0

## Sankey #1

In [63]:
# # ! (matlab code lines 965-982)

# TOT = E_Preg_Treg.sum().sum()

# # shares_Sankey_Tsec_Psec = (Agg_Psec.T @ E_Tsec_Psec.T @ Agg_Tsec) # / TOT
# # shares_Sankey_Psec_Preg = (Agg_Psec.T @ E_Psec_Preg @ Agg_Preg) # / TOT
# shares_Sankey_Preg_Treg = Agg_Preg.T @ E_Preg_Treg @ Agg_Preg # / TOT
# shares_Sankey_Treg_FDreg = Agg_Preg.T @ E_Treg_FDreg @ Agg_Preg # / TOT
# shares_Sankey_FDreg_FSsec = Agg_Preg.T @ E_FDreg_FSsec @ Agg_FSsec # / TOT

# perspectives = [
#     shares_Sankey_Preg_Treg.sum(axis=1),
#     shares_Sankey_Treg_FDreg.sum(axis=1),
#     shares_Sankey_Treg_FDreg.sum().T,
#     shares_Sankey_FDreg_FSsec.sum().T,
# ]
# linkages = [dd
#     shares_Sankey_Preg_Treg.stack(),
#     shares_Sankey_Treg_FDreg.stack(),
#     shares_Sankey_FDreg_FSsec.stack(),
# ]

# # Show results
# threshold = 0.001
# print(stress, "\n")
# for i in range(3):
#     print(f"linkage {i+1}")
#     mask = linkages[i] > threshold
#     print(linkages[i][mask], "\n\n")
# for i in range(4):
#     print(f"perspectives {i+1}")
#     mask = perspectives[i] > threshold
#     print(perspectives[i][mask], "\n\n")

## Sankey #2

In [67]:
# ! (matlab code lines 985-995)

shares_Sankey_FSsec_Psec = Agg_Preg.T @ E_Psec_Preg.T @ Agg_Psec  # / E_Psec_Preg.sum().sum()
shares_Sankey_Psec_Tsec = Agg_Psec.T @ E_Tsec_Psec.T @ Agg_Tsec  # / E_Psec_Preg.sum().sum()
shares_Sankey_Tsec_Treg = Agg_Tsec.T @ E_Tsec_Treg @ Agg_Preg  # / E_Psec_Preg.sum().sum()

perspectives = [
    shares_Sankey_FSsec_Psec.sum(axis=1),
    shares_Sankey_Psec_Tsec.sum(axis=1),
    shares_Sankey_Psec_Tsec.sum().T,
    shares_Sankey_Tsec_Treg.sum().T,
]
linkages = [
    shares_Sankey_FSsec_Psec.stack(),
    shares_Sankey_Psec_Tsec.stack(),
    shares_Sankey_Tsec_Treg.stack(),
]

# Show results
threshold = 0.001
print(stress, "\n")
for i in range(3):
    print(f"linkage {i+1}")
    mask = linkages[i] > threshold
    print(linkages[i][mask], "\n\n")
for i in range(4):
    print(f"perspectives {i+1}")
    mask = perspectives[i] > threshold
    print(perspectives[i][mask], "\n\n")

biodiv

linkage 1
Australia  coal               2,597,990.70
           nickel               697,138.44
           iron               8,902,966.09
           copper             1,176,498.59
           aluminium          7,162,795.88
           precious_metals    2,008,497.40
           other_metals       1,625,382.30
           non_mining           221,834.93
Brazil     coal                 116,995.35
           nickel               163,756.57
           iron               3,067,030.74
           copper               266,851.56
           aluminium          2,437,525.79
           precious_metals      398,737.39
           other_metals         173,784.72
           non_mining            22,993.00
China      coal                 709,105.92
           nickel                32,998.36
           iron               2,292,164.90
           copper               268,666.91
           aluminium            678,352.41
           precious_metals      425,101.01
           other_metals         535,085.94
           non_mining            13,046.91
Indonesia  coal               9,367,257.07
           nickel             2,344,639.19
           copper             2,178,054.92
           aluminium          1,118,694.81
           precious_metals    2,260,780.88
           other_metals       1,279,861.46
           non_mining             3,963.60
Japan      precious_metals       12,357.21
other      coal               3,694,554.42
           nickel            34,361,396.99
           iron               5,771,335.44
           copper            13,278,133.50
           aluminium         11,000,029.68
           precious_metals   19,452,492.25
           other_metals       7,216,157.92
           non_mining           686,085.57
dtype: object


linkage 2
coal             nickel                 7,442.90
                 iron              11,750,965.86
                 copper               972,557.44
                 aluminium          1,111,085.92
                 precious_metals      675,997.09
                 other_metals       1,967,854.25
nickel           nickel             8,241,127.54
                 iron              17,839,387.32
                 copper             1,101,197.96
                 aluminium          1,838,978.11
                 precious_metals      333,717.95
                 other_metals       8,245,520.68
iron             nickel                   788.12
                 iron              19,199,387.87
                 copper               276,400.11
                 aluminium            140,071.66
                 precious_metals       90,943.74
                 other_metals         325,905.67
copper           nickel                 5,612.71
                 iron                 886,041.15
                 copper            14,775,394.99
                 aluminium            227,724.76
                 precious_metals      457,280.66
                 other_metals         816,151.23
aluminium        nickel                   837.47
                 iron                 888,977.41
                 copper               391,318.49
                 aluminium         20,570,266.67
                 precious_metals      134,308.37
                 other_metals         411,690.14
precious_metals  nickel                41,304.55
                 iron               1,169,816.79
                 copper             1,197,775.16
                 aluminium            289,711.61
                 precious_metals   20,661,472.73
                 other_metals       1,197,885.30
other_metals     nickel                30,159.74
                 iron               1,851,404.83
                 copper               444,209.26
                 aluminium            312,458.12
                 precious_metals      152,289.11
                 other_metals       8,039,751.27
non_mining       nickel                 1,362.57
                 iron                 341,791.61
                 copper                47,651.59
                 aluminium             86,561.30
                 precious_metals       56,966.22
                 other_metals         413,590.72
dtype: object


linkage 3
nickel           Australia         15,594.24
                 Brazil            11,932.34
                 China                257.10
                 Indonesia        403,966.87
                 other          7,896,885.05
iron             Australia      1,931,726.41
                 Brazil         1,195,336.68
                 China         25,613,284.95
                 Indonesia        774,247.70
                 Japan          2,497,566.63
                 Netherlands       14,710.34
                 other         21,900,900.14
copper           Australia        575,487.53
                 Brazil           348,152.65
                 China          5,530,399.76
                 Indonesia      1,787,166.57
                 Japan          1,121,762.00
                 Netherlands       20,584.40
                 other          9,822,952.07
aluminium        Australia      6,627,121.72
                 Brazil         1,648,839.80
                 China          2,615,935.59
                 Indonesia      1,104,675.32
                 Japan            379,152.45
                 Netherlands       32,635.69
                 other         12,168,497.58
precious_metals  Australia      1,631,785.62
                 Brazil           337,865.56
                 China          2,746,736.37
                 Indonesia      1,928,000.83
                 Japan            606,090.93
                 Netherlands        3,163.53
                 other         15,309,333.03
other_metals     Australia        945,689.01
                 Brazil           316,204.50
                 China          7,890,574.58
                 Indonesia      1,997,288.92
                 Japan          1,018,569.65
                 Netherlands       83,945.55
                 other          9,166,077.05
dtype: object


perspectives 1
Australia   24,393,104.33
Brazil       6,647,675.12
China        4,954,522.36
Indonesia   18,553,251.92
Japan           12,357.21
other       95,460,185.77
dtype: object


perspectives 2
coal              16,485,903.46
nickel            37,599,929.55
iron              20,033,497.17
copper            17,168,205.49
aluminium         22,397,398.56
precious_metals   24,557,966.13
other_metals      10,830,272.34
non_mining           947,924.01
dtype: object


perspectives 3
nickel             8,328,635.60
iron              53,927,772.85
copper            19,206,504.99
aluminium         24,576,858.15
precious_metals   22,562,975.87
other_metals      21,418,349.26
dtype: object


perspectives 4
Australia     11,727,404.53
Brazil         3,858,331.54
China         44,397,188.35
Indonesia      7,995,346.21
Japan          5,623,141.66
Netherlands      155,039.51
other         76,264,644.92
dtype: object

In [65]:
# Save results
metal = "metals"
year = 2014
filename = f"{metal}_{stress}_{year}_sankey_2"
mapping = {"level_0": "source_country", "level_1": "target_country", 0: "value"}
stages = ["mining", "processing", "consumption", "End-use"]

for i, _ in enumerate(linkages):
    linkages[i] = linkages[i].reset_index().rename(columns=mapping)
    linkages[i]["source_stage"] = stages[i]
    linkages[i]["target_stage"] = stages[i + 1]
    linkages[i] = linkages[i][
        ["source_stage", "source_country", "target_stage", "target_country", "value"]
    ]

pd.concat(linkages, axis=0).to_csv(f"./results/{metal}/{filename}.csv", index=False)

### Biodiversity

![S24 original](./img/metals/S24.png)
![S24 reproduced](./img/metals/S24_reproduced.png)

### Land use

![Land use](./img/metals/metals_landuse.png)

### Greenhouse gases

![ghg](./img/metals/metals_ghg.png)

### Blue water consumption

![water](./img/metals/metals_water.png)

## Sankey #3

In [66]:
# # ! (matlab code lines 998-1009)

# shares_Sankey_FSsec_Psec = Agg_FSsec.T @ E_Psec_FSsec.T @ Agg_Psec / E_Psec_FSsec.sum().sum()
# # shares_Sankey_Preg_Psec = (Agg_Preg.T @ E_Psec_Preg.T @ Agg_Psec) #/ TOT
# shares_Sankey_Psec_Tsec = Agg_Psec.T @ E_Tsec_Psec.T @ Agg_Tsec / E_Tsec_Psec.sum().sum()
# shares_Sankey_Tsec_Treg = Agg_Tsec.T @ E_Tsec_Treg @ Agg_Preg / E_Tsec_Treg.sum().sum()

# perspectives = [
#     shares_Sankey_FSsec_Psec.sum(axis=1),
#     shares_Sankey_Psec_Tsec.sum(axis=1),
#     shares_Sankey_Psec_Tsec.sum().T,
#     shares_Sankey_Tsec_Treg.sum().T,
# ]
# linkages = [
#     shares_Sankey_FSsec_Psec.stack(),
#     shares_Sankey_Psec_Tsec.stack(),
#     shares_Sankey_Tsec_Treg.stack(),
# ]

# # Show results
# threshold = 0.001
# print(stress, "\n")
# for i in range(3):
#     print(f"linkage {i+1}")
#     mask = linkages[i] > threshold
#     print(linkages[i][mask], "\n\n")
# for i in range(4):
#     print(f"perspectives {i+1}")
#     mask = perspectives[i] > threshold
#     print(perspectives[i][mask], "\n\n")