In [2]:
# Import packages
import pandas as pd
import re

# Set  number format
# np.set_printoptions(precision=6, suppress=True)
pd.options.display.float_format = "{:,.2f}".format

#  ixi MRIO

In [2]:
# ---------------------------------------------------------
# SPECIFY PATH
# ---------------------------------------------------------
dir_path = "../data/exiobase/_ixi/IOT_2019_ixi/"


# ---------------------------------------------------------
# IMPORT MATRICES
# ---------------------------------------------------------
# Import A, Y, F and F_Y (from SATELLITE)
# ! 'A' is a large datasets, mind load time
Z = pd.read_csv(f"{dir_path}Z.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])
A = pd.read_csv(f"{dir_path}A.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])
Y = pd.read_csv(f"{dir_path}Y.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])

# Get X reference from Exiobase
x_exio = pd.read_csv(
    f"{dir_path}x.txt", delimiter="\t", header=0, index_col=[0, 1]
)  # ! header = 0, not [0,1]

# ! we use the satellite folder this time because we will look at uncharacterized stressors (CO2 emission vs GWP100)
F = pd.read_csv(
    f"{dir_path}satellite/F.txt", delimiter="\t", header=[0, 1], index_col=[0]
)
F_y = pd.read_csv(
    f"{dir_path}satellite/F_Y.txt", delimiter="\t", header=[0, 1], index_col=[0]
)
F_unit = pd.read_csv(
    f"{dir_path}satellite/unit.txt", delimiter="\t", header=0, index_col=[0]
)

# ---------------------------------------------------------
# GET LABEL
# ---------------------------------------------------------
# get multiindex
region_and_sector_labels = A.index

# get each level using  'get_level_values()'
region_labels = A.index.get_level_values(level=0).unique()
sector_labels = A.index.get_level_values(level=1).unique()

In [3]:
MASK = sector_labels.str.contains("gas", flags=re.IGNORECASE)
sector_labels[MASK]

Index(['Manure treatment (biogas), storage and land application',
       'Extraction of natural gas and services related to natural gas extraction, excluding surveying',
       'Extraction, liquefaction, and regasification of other petroleum and gaseous materials',
       'Production of electricity by gas',
       'Manufacture of gas; distribution of gaseous fuels through mains',
       'Biogasification of food waste, incl. land application',
       'Biogasification of paper, incl. land application',
       'Biogasification of sewage slugde, incl. land application'],
      dtype='object', name='sector')

In [4]:
EU27 = region_labels[:27]
RU = ["RU"]
biogas = ["Biogas"]
nat_gas = [
    "Extraction of natural gas and services related to natural gas extraction, excluding surveying",
    "Manufacture of gas; distribution of gaseous fuels through mains",
    "Extraction, liquefaction, and regasification of other petroleum and gaseous materials",
    "Transport via pipelines",
]

EU27_nat_gas = pd.MultiIndex.from_product(iterables=[EU27, nat_gas])
RU_nat_gas = pd.MultiIndex.from_product(iterables=[RU, nat_gas])

## Inter industry

In [5]:
# How much does each EU country relies on DIRECT RU gas sectors (INTER INDUSTRY)

total_EU_imports_Z = Z.loc[RU_nat_gas, EU27].sum(axis=1)
print(total_EU_imports_Z)

res = Z.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()

# expressed in percentage of total EU imports
res = res.divide(total_EU_imports_Z, axis=0).T * 100
print(res.sum())
res.sort_values(RU_nat_gas[0], ascending=False)

region  sector
RU      Extraction of natural gas and services related to natural gas extraction, excluding surveying   9,845.67
        Manufacture of gas; distribution of gaseous fuels through mains                                     6.92
        Extraction, liquefaction, and regasification of other petroleum and gaseous materials               0.00
        Transport via pipelines                                                                           188.41
dtype: float64
region  sector
RU      Extraction of natural gas and services related to natural gas extraction, excluding surveying   100.00
        Manufacture of gas; distribution of gaseous fuels through mains                                 100.00
        Extraction, liquefaction, and regasification of other petroleum and gaseous materials             0.00
        Transport via pipelines                                                                         100.00
dtype: float64

region                                                                                            RU
sector Extraction of natural gas and services related to natural gas extraction, excluding surveying
region
IT                                                  64.79                                             \
CZ                                                  13.19
HU                                                  10.93
LT                                                   2.56
LV                                                   2.42
EE                                                   1.18
DE                                                   0.64
GR                                                   0.59
PL                                                   0.54
MT                                                   0.47
FR                                                   0.40
BE                                                   0.34
IE                                                   0.33
FI                                                   0.30
DK                                                   0.27
SI                                                   0.23
SE                                                   0.22
ES                                                   0.20
RO                                                   0.13
NL                                                   0.11
BG                                                   0.07
SK                                                   0.05
PT                                                   0.02
HR                                                   0.01
LU                                                   0.01
AT                                                   0.01
CY                                                   0.00

region
sector Manufacture of gas; distribution of gaseous fuels through mains
region
IT                                                   7.36               \
CZ                                                   6.46
HU                                                   4.56
LT                                                   4.53
LV                                                   1.88
EE                                                   3.90
DE                                                  16.49
GR                                                   0.43
PL                                                   8.99
MT                                                   1.34
FR                                                   6.85
BE                                                   5.04
IE                                                   1.29
FI                                                  11.59
DK                                                   0.42
SI                                                   0.14
SE                                                   2.70
ES                                                   2.71
RO                                                   3.42
NL                                                   3.45
BG                                                   1.48
SK                                                   1.61
PT                                                   0.40
HR                                                   0.24
LU                                                   0.86
AT                                                   1.06
CY                                                   0.79

region
sector Extraction, liquefaction, and regasification of other petroleum and gaseous materials
region
IT                                                    NaN                                     \
CZ                                                    NaN
HU                                                    NaN
LT                                                    NaN
LV                                                    NaN
EE                                                    NaN
DE                                                    NaN
GR                                                    NaN
PL                                                    NaN
MT                                                    NaN
FR                                                    NaN
BE                                                    NaN
IE                                                    NaN
FI                                                    NaN
DK                                                    NaN
SI                                                    NaN
SE                                                    NaN
ES                                                    NaN
RO                                                    NaN
NL                                                    NaN
BG                                                    NaN
SK                                                    NaN
PT                                                    NaN
HR                                                    NaN
LU                                                    NaN
AT                                                    NaN
CY                                                    NaN

region
sector Transport via pipelines
region
IT                        3.00
CZ                       55.73
HU                        9.30
LT                        3.20
LV                        0.25
EE                        0.20
DE                        9.86
GR                        0.77
PL                        3.30
MT                        0.02
FR                        1.42
BE                        0.36
IE                        0.19
FI                        1.35
DK                        0.14
SI                        0.02
SE                        0.31
ES                        1.63
RO                        1.97
NL                        2.16
BG                        0.31
SK                        1.35
PT                        0.14
HR                        0.15
LU                        0.05
AT                        2.76
CY                        0.06

## final demand

In [6]:
# How much does each EU country relies on DIRECT RU gas sectors (FINAL DEMAND)

total_EU_imports_Y = Y.loc[RU_nat_gas, EU27].sum(axis=1)
print(total_EU_imports_Y)

res = Y.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()

# expressed in percentage of total EU imports
res = res.divide(total_EU_imports_Y, axis=0).T * 100
print(res.sum())
res.sort_values(RU_nat_gas[0], ascending=False)

region  sector
RU      Extraction of natural gas and services related to natural gas extraction, excluding surveying   3,175.29
        Manufacture of gas; distribution of gaseous fuels through mains                                     4.25
        Extraction, liquefaction, and regasification of other petroleum and gaseous materials               0.00
        Transport via pipelines                                                                             2.45
dtype: float64
region  sector
RU      Extraction of natural gas and services related to natural gas extraction, excluding surveying   100.00
        Manufacture of gas; distribution of gaseous fuels through mains                                 100.00
        Extraction, liquefaction, and regasification of other petroleum and gaseous materials             0.00
        Transport via pipelines                                                                         100.00
dtype: float64

region                                                                                            RU
sector Extraction of natural gas and services related to natural gas extraction, excluding surveying
region
SK                                                  41.73                                             \
GR                                                  22.75
BG                                                  17.70
RO                                                   9.61
SI                                                   2.60
DE                                                   1.16
HU                                                   0.84
FR                                                   0.58
IT                                                   0.54
MT                                                   0.47
LV                                                   0.30
NL                                                   0.30
BE                                                   0.29
PL                                                   0.26
DK                                                   0.22
IE                                                   0.14
EE                                                   0.11
SE                                                   0.09
ES                                                   0.09
FI                                                   0.07
LT                                                   0.05
CZ                                                   0.03
LU                                                   0.02
HR                                                   0.02
AT                                                   0.01
CY                                                   0.01
PT                                                   0.00

region
sector Manufacture of gas; distribution of gaseous fuels through mains
region
SK                                                   2.21               \
GR                                                   1.59
BG                                                   2.32
RO                                                   4.46
SI                                                   0.21
DE                                                  22.75
HU                                                   2.10
FR                                                   5.99
IT                                                   4.35
MT                                                   0.25
LV                                                   3.71
NL                                                   4.42
BE                                                   6.47
PL                                                   5.28
DK                                                   0.29
IE                                                   5.35
EE                                                   1.98
SE                                                   1.11
ES                                                   2.76
FI                                                   7.53
LT                                                   4.68
CZ                                                   5.12
LU                                                   0.82
HR                                                   0.23
AT                                                   1.62
CY                                                   2.24
PT                                                   0.13

region
sector Extraction, liquefaction, and regasification of other petroleum and gaseous materials
region
SK                                                    NaN                                     \
GR                                                    NaN
BG                                                    NaN
RO                                                    NaN
SI                                                    NaN
DE                                                    NaN
HU                                                    NaN
FR                                                    NaN
IT                                                    NaN
MT                                                    NaN
LV                                                    NaN
NL                                                    NaN
BE                                                    NaN
PL                                                    NaN
DK                                                    NaN
IE                                                    NaN
EE                                                    NaN
SE                                                    NaN
ES                                                    NaN
FI                                                    NaN
LT                                                    NaN
CZ                                                    NaN
LU                                                    NaN
HR                                                    NaN
AT                                                    NaN
CY                                                    NaN
PT                                                    NaN

region
sector Transport via pipelines
region
SK                       29.26
GR                       15.35
BG                       12.88
RO                        7.85
SI                        1.90
DE                        6.21
HU                        2.60
FR                        0.95
IT                        1.83
MT                        3.46
LV                        0.58
NL                        0.92
BE                        1.52
PL                        2.43
DK                        0.12
IE                        0.22
EE                        3.28
SE                        1.01
ES                        0.56
FI                        1.34
LT                        1.96
CZ                        3.06
LU                        0.06
HR                        0.08
AT                        0.45
CY                        0.08
PT                        0.06

## Inter-industry AND final demand

In [7]:
# How much does each EU country relies on DIRECT RU gas sectors (INTER INDUSTRY + FINAL DEMAND)
EU_imports_ZY = (
    Z.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()
    + Y.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()
)
totalEU_imports_ZY = EU_imports_ZY.sum(axis=1)

print(totalEU_imports_ZY)

res = EU_imports_ZY.divide(totalEU_imports_ZY, axis=0).T * 100
print(res.sum())
res.sort_values(RU_nat_gas[0], ascending=False)

region  sector
RU      Extraction of natural gas and services related to natural gas extraction, excluding surveying   13,020.96
        Manufacture of gas; distribution of gaseous fuels through mains                                     11.17
        Extraction, liquefaction, and regasification of other petroleum and gaseous materials                0.00
        Transport via pipelines                                                                            190.86
dtype: float64
region  sector
RU      Extraction of natural gas and services related to natural gas extraction, excluding surveying   100.00
        Manufacture of gas; distribution of gaseous fuels through mains                                 100.00
        Extraction, liquefaction, and regasification of other petroleum and gaseous materials             0.00
        Transport via pipelines                                                                         100.00
dtype: float64

region                                                                                            RU
sector Extraction of natural gas and services related to natural gas extraction, excluding surveying
region
IT                                                  49.12                                             \
SK                                                  10.21
CZ                                                   9.98
HU                                                   8.47
GR                                                   5.99
BG                                                   4.37
RO                                                   2.44
LT                                                   1.95
LV                                                   1.91
EE                                                   0.92
SI                                                   0.81
DE                                                   0.77
MT                                                   0.47
PL                                                   0.47
FR                                                   0.44
BE                                                   0.33
IE                                                   0.28
DK                                                   0.25
FI                                                   0.25
SE                                                   0.19
ES                                                   0.17
NL                                                   0.16
PT                                                   0.01
HR                                                   0.01
LU                                                   0.01
AT                                                   0.01
CY                                                   0.01

region
sector Manufacture of gas; distribution of gaseous fuels through mains
region
IT                                                   6.22               \
SK                                                   1.84
CZ                                                   5.95
HU                                                   3.63
GR                                                   0.87
BG                                                   1.80
RO                                                   3.82
LT                                                   4.59
LV                                                   2.58
EE                                                   3.17
SI                                                   0.17
DE                                                  18.87
MT                                                   0.92
PL                                                   7.58
FR                                                   6.53
BE                                                   5.59
IE                                                   2.84
DK                                                   0.37
FI                                                  10.04
SE                                                   2.10
ES                                                   2.73
NL                                                   3.82
PT                                                   0.30
HR                                                   0.23
LU                                                   0.84
AT                                                   1.28
CY                                                   1.34

region
sector Extraction, liquefaction, and regasification of other petroleum and gaseous materials
region
IT                                                    NaN                                     \
SK                                                    NaN
CZ                                                    NaN
HU                                                    NaN
GR                                                    NaN
BG                                                    NaN
RO                                                    NaN
LT                                                    NaN
LV                                                    NaN
EE                                                    NaN
SI                                                    NaN
DE                                                    NaN
MT                                                    NaN
PL                                                    NaN
FR                                                    NaN
BE                                                    NaN
IE                                                    NaN
DK                                                    NaN
FI                                                    NaN
SE                                                    NaN
ES                                                    NaN
NL                                                    NaN
PT                                                    NaN
HR                                                    NaN
LU                                                    NaN
AT                                                    NaN
CY                                                    NaN

region
sector Transport via pipelines
region
IT                        2.98
SK                        1.71
CZ                       55.05
HU                        9.22
GR                        0.96
BG                        0.48
RO                        2.04
LT                        3.18
LV                        0.25
EE                        0.23
SI                        0.05
DE                        9.82
MT                        0.06
PL                        3.28
FR                        1.41
BE                        0.38
IE                        0.19
DK                        0.14
FI                        1.35
SE                        0.32
ES                        1.61
NL                        2.14
PT                        0.14
HR                        0.15
LU                        0.05
AT                        2.73
CY                        0.06

# pxp MRIO

In [3]:
# ---------------------------------------------------------
# SPECIFY PATH
dir_path = "../data/exiobase/_pxp/IOT_2019_pxp/"


# ---------------------------------------------------------
# IMPORT MATRICES

# Import A, Y, F and F_Y (from SATELLITE)
# ! 'A' is a large datasets, mind load time
Z = pd.read_csv(f"{dir_path}Z.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])
A = pd.read_csv(f"{dir_path}A.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])
Y = pd.read_csv(f"{dir_path}Y.txt", delimiter="\t", header=[0, 1], index_col=[0, 1])

# Get X reference from Exiobase
x_exio = pd.read_csv(
    f"{dir_path}x.txt", delimiter="\t", header=0, index_col=[0, 1]
)  # ! header = 0, not [0,1]

# ! we use the satellite folder this time because we will look at uncharacterized stressors (CO2 emission vs GWP100)
F = pd.read_csv(
    f"{dir_path}satellite/F.txt", delimiter="\t", header=[0, 1], index_col=[0]
)
F_y = pd.read_csv(
    f"{dir_path}satellite/F_Y.txt", delimiter="\t", header=[0, 1], index_col=[0]
)
F_unit = pd.read_csv(
    f"{dir_path}satellite/unit.txt", delimiter="\t", header=0, index_col=[0]
)

# ---------------------------------------------------------
# GET LABEL

# get multiindex
region_and_sector_labels = A.index

# get each level using  'get_level_values()'
region_labels = A.index.get_level_values(level=0).unique()
sector_labels = A.index.get_level_values(level=1).unique()

In [4]:
MASK = sector_labels.str.contains("gas", flags=re.IGNORECASE)
sector_labels[MASK]

Index(['Manure (biogas treatment)',
       'Natural gas and services related to natural gas extraction, excluding surveying',
       'Natural Gas Liquids', 'Gas Coke', 'Motor Gasoline',
       'Aviation Gasoline', 'Gasoline Type Jet Fuel', 'Gas/Diesel Oil',
       'Refinery Gas', 'Liquefied Petroleum Gases (LPG)', 'Biogasoline',
       'Electricity by gas', 'Coke oven gas', 'Blast Furnace Gas',
       'Oxygen Steel Furnace Gas', 'Gas Works Gas', 'Biogas',
       'Distribution services of gaseous fuels through mains',
       'Food waste for treatment: biogasification and land application',
       'Paper waste for treatment: biogasification and land application',
       'Sewage sludge for treatment: biogasification and land application'],
      dtype='object', name='sector')

In [5]:
EU27 = region_labels[:27]
RU = ["RU"]
biogas = ["Biogas"]
nat_gas = [
    "Natural gas and services related to natural gas extraction, excluding surveying",
    "Distribution services of gaseous fuels through mains",
    "Natural Gas Liquids",
    "Transportation services via pipelines",
]

EU27_nat_gas = pd.MultiIndex.from_product(iterables=[EU27, nat_gas])
RU_nat_gas = pd.MultiIndex.from_product(iterables=[RU, nat_gas])

## Inter industry

In [6]:
# How much does each EU country relies on DIRECT RU gas sectors (INTER INDUSTRY)

total_EU_imports_Z = Z.loc[RU_nat_gas, EU27].sum(axis=1)
print(total_EU_imports_Z)

res = Z.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()

# expressed in percentage of total EU imports
res = res.divide(total_EU_imports_Z, axis=0).T * 100
print(res.sum())
res.sort_values(RU_nat_gas[0], ascending=False)

region  sector
RU      Natural gas and services related to natural gas extraction, excluding surveying   10,431.67
        Distribution services of gaseous fuels through mains                                   0.00
        Natural Gas Liquids                                                                    0.00
        Transportation services via pipelines                                                169.99
dtype: float64
region  sector
RU      Natural gas and services related to natural gas extraction, excluding surveying   100.00
        Distribution services of gaseous fuels through mains                                0.00
        Natural Gas Liquids                                                                 0.00
        Transportation services via pipelines                                             100.00
dtype: float64

region                                                                              RU
sector Natural gas and services related to natural gas extraction, excluding surveying
region
IT                                                  68.17                               \
CZ                                                  13.92
HU                                                  11.45
LT                                                   2.67
LV                                                   2.41
EE                                                   1.07
SI                                                   0.22
BG                                                   0.04
GR                                                   0.03
SK                                                   0.03
RO                                                   0.01
FR                                                   0.00
MT                                                   0.00
CY                                                   0.00
SE                                                   0.00
PT                                                   0.00
PL                                                   0.00
NL                                                   0.00
DE                                                   0.00
FI                                                   0.00
LU                                                   0.00
DK                                                   0.00
ES                                                   0.00
IE                                                   0.00
BE                                                   0.00
HR                                                   0.00
AT                                                   0.00

region
sector Distribution services of gaseous fuels through mains
region
IT                                                    NaN    \
CZ                                                    NaN
HU                                                    NaN
LT                                                    NaN
LV                                                    NaN
EE                                                    NaN
SI                                                    NaN
BG                                                    NaN
GR                                                    NaN
SK                                                    NaN
RO                                                    NaN
FR                                                    NaN
MT                                                    NaN
CY                                                    NaN
SE                                                    NaN
PT                                                    NaN
PL                                                    NaN
NL                                                    NaN
DE                                                    NaN
FI                                                    NaN
LU                                                    NaN
DK                                                    NaN
ES                                                    NaN
IE                                                    NaN
BE                                                    NaN
HR                                                    NaN
AT                                                    NaN

region
sector Natural Gas Liquids Transportation services via pipelines
region
IT                     NaN                                  0.26
CZ                     NaN                                 64.08
HU                     NaN                                 10.08
LT                     NaN                                  3.23
LV                     NaN                                  0.19
EE                     NaN                                  0.17
SI                     NaN                                  0.02
BG                     NaN                                  0.01
GR                     NaN                                  0.75
SK                     NaN                                  1.02
RO                     NaN                                  1.96
FR                     NaN                                  1.36
MT                     NaN                                  0.00
CY                     NaN                                  0.07
SE                     NaN                                  0.01
PT                     NaN                                  0.01
PL                     NaN                                  1.99
NL                     NaN                                  0.21
DE                     NaN                                  8.90
FI                     NaN                                  0.38
LU                     NaN                                  0.00
DK                     NaN                                  0.10
ES                     NaN                                  1.75
IE                     NaN                                  0.20
BE                     NaN                                  0.08
HR                     NaN                                  0.00
AT                     NaN                                  3.17

## Final demand

In [7]:
# How much does each EU country relies on DIRECT RU gas sectors (FINAL DEMAND)

total_EU_imports_Y = Y.loc[RU_nat_gas, EU27].sum(axis=1)
print(total_EU_imports_Y)

res = Y.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()

# expressed in percentage of total EU imports
res = res.divide(total_EU_imports_Y, axis=0).T * 100
print(res.sum())
res.sort_values(RU_nat_gas[0], ascending=False)

region  sector
RU      Natural gas and services related to natural gas extraction, excluding surveying   3,374.79
        Distribution services of gaseous fuels through mains                                  0.00
        Natural Gas Liquids                                                                   0.00
        Transportation services via pipelines                                                 0.19
dtype: float64
region  sector
RU      Natural gas and services related to natural gas extraction, excluding surveying   100.00
        Distribution services of gaseous fuels through mains                                0.00
        Natural Gas Liquids                                                                 0.00
        Transportation services via pipelines                                             100.00
dtype: float64

region                                                                              RU
sector Natural gas and services related to natural gas extraction, excluding surveying
region
SK                                                  43.98                               \
GR                                                  23.26
BG                                                  18.61
RO                                                  10.09
SI                                                   2.71
HU                                                   0.85
IT                                                   0.41
LV                                                   0.08
CZ                                                   0.01
EE                                                   0.00
DK                                                   0.00
CY                                                   0.00
SE                                                   0.00
PT                                                   0.00
PL                                                   0.00
NL                                                   0.00
MT                                                   0.00
LT                                                   0.00
LU                                                   0.00
IE                                                   0.00
BE                                                   0.00
HR                                                   0.00
DE                                                   0.00
FR                                                   0.00
FI                                                   0.00
ES                                                   0.00
AT                                                   0.00

region
sector Distribution services of gaseous fuels through mains
region
SK                                                    NaN    \
GR                                                    NaN
BG                                                    NaN
RO                                                    NaN
SI                                                    NaN
HU                                                    NaN
IT                                                    NaN
LV                                                    NaN
CZ                                                    NaN
EE                                                    NaN
DK                                                    NaN
CY                                                    NaN
SE                                                    NaN
PT                                                    NaN
PL                                                    NaN
NL                                                    NaN
MT                                                    NaN
LT                                                    NaN
LU                                                    NaN
IE                                                    NaN
BE                                                    NaN
HR                                                    NaN
DE                                                    NaN
FR                                                    NaN
FI                                                    NaN
ES                                                    NaN
AT                                                    NaN

region
sector Natural Gas Liquids Transportation services via pipelines
region
SK                     NaN                                  0.85
GR                     NaN                                  0.00
BG                     NaN                                  0.01
RO                     NaN                                  0.00
SI                     NaN                                  0.01
HU                     NaN                                  1.18
IT                     NaN                                  0.22
LV                     NaN                                  0.02
CZ                     NaN                                 31.87
EE                     NaN                                  0.05
DK                     NaN                                  0.00
CY                     NaN                                  0.00
SE                     NaN                                  0.00
PT                     NaN                                  0.00
PL                     NaN                                  0.72
NL                     NaN                                  5.07
MT                     NaN                                 45.85
LT                     NaN                                 11.29
LU                     NaN                                  0.00
IE                     NaN                                  0.00
BE                     NaN                                  0.00
HR                     NaN                                  0.00
DE                     NaN                                  0.00
FR                     NaN                                  2.27
FI                     NaN                                  0.02
ES                     NaN                                  0.32
AT                     NaN                                  0.24

## Inter-industry AND Final demand

In [8]:
# How much does each EU country relies on DIRECT RU gas sectors (INTER INDUSTRY + FINAL DEMAND)
EU_imports_ZY = (
    Z.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()
    + Y.loc[RU_nat_gas, EU27].groupby(level=0, axis=1).sum()
)
totalEU_imports_ZY = EU_imports_ZY.sum(axis=1)

print(totalEU_imports_ZY)

res = EU_imports_ZY.divide(totalEU_imports_ZY, axis=0).T * 100
print(res.sum())
res.sort_values(RU_nat_gas[0], ascending=False)

region  sector
RU      Natural gas and services related to natural gas extraction, excluding surveying   13,806.45
        Distribution services of gaseous fuels through mains                                   0.00
        Natural Gas Liquids                                                                    0.00
        Transportation services via pipelines                                                170.19
dtype: float64
region  sector
RU      Natural gas and services related to natural gas extraction, excluding surveying   100.00
        Distribution services of gaseous fuels through mains                                0.00
        Natural Gas Liquids                                                                 0.00
        Transportation services via pipelines                                             100.00
dtype: float64

region                                                                              RU
sector Natural gas and services related to natural gas extraction, excluding surveying
region
IT                                                  51.61                               \
SK                                                  10.77
CZ                                                  10.52
HU                                                   8.86
GR                                                   5.71
BG                                                   4.58
RO                                                   2.47
LT                                                   2.01
LV                                                   1.84
SI                                                   0.82
EE                                                   0.81
LU                                                   0.00
SE                                                   0.00
PT                                                   0.00
PL                                                   0.00
NL                                                   0.00
MT                                                   0.00
CY                                                   0.00
DE                                                   0.00
IE                                                   0.00
BE                                                   0.00
HR                                                   0.00
FR                                                   0.00
FI                                                   0.00
ES                                                   0.00
DK                                                   0.00
AT                                                   0.00

region
sector Distribution services of gaseous fuels through mains
region
IT                                                    NaN    \
SK                                                    NaN
CZ                                                    NaN
HU                                                    NaN
GR                                                    NaN
BG                                                    NaN
RO                                                    NaN
LT                                                    NaN
LV                                                    NaN
SI                                                    NaN
EE                                                    NaN
LU                                                    NaN
SE                                                    NaN
PT                                                    NaN
PL                                                    NaN
NL                                                    NaN
MT                                                    NaN
CY                                                    NaN
DE                                                    NaN
IE                                                    NaN
BE                                                    NaN
HR                                                    NaN
FR                                                    NaN
FI                                                    NaN
ES                                                    NaN
DK                                                    NaN
AT                                                    NaN

region
sector Natural Gas Liquids Transportation services via pipelines
region
IT                     NaN                                  0.26
SK                     NaN                                  1.02
CZ                     NaN                                 64.04
HU                     NaN                                 10.07
GR                     NaN                                  0.75
BG                     NaN                                  0.01
RO                     NaN                                  1.95
LT                     NaN                                  3.24
LV                     NaN                                  0.19
SI                     NaN                                  0.02
EE                     NaN                                  0.17
LU                     NaN                                  0.00
SE                     NaN                                  0.01
PT                     NaN                                  0.01
PL                     NaN                                  1.99
NL                     NaN                                  0.22
MT                     NaN                                  0.06
CY                     NaN                                  0.07
DE                     NaN                                  8.89
IE                     NaN                                  0.20
BE                     NaN                                  0.08
HR                     NaN                                  0.00
FR                     NaN                                  1.36
FI                     NaN                                  0.38
ES                     NaN                                  1.75
DK                     NaN                                  0.10
AT                     NaN                                  3.17

# Comparison with EUROSTATS

![Russian imports](../img/Eurostat_russian_imports.png)

Import of Russian Natural Gas (in TJ). Source: [Eurostats](https://ec.europa.eu/eurostat/databrowser/view/NRG_TI_GAS__custom_6448417/default/table?lang=en)